<section class="masthead--portfolio masthead text-center">
  <div class="container">
    <h1 class="masthead-title">Websites</h1>

    <p class="masthead-description">A collection of projects for various clients like <a href="#">1 Million Music Moments</a> and the <a href="">Toronto Youth Cabinet</a>.</p>
  </div>
</section>

<div class="portfolio-section--work container">
  <h4 class="portfolio-work-title text-center">Nonprofits</h4>

  <div class="portfolio-work">
		<a class="portfolio-work-screenshot" href="http://1MMM.org">
      <img src="/assets/images/portfolio/client-1mmm.jpg" alt="1 Million Music Moments" />
    </a>

    <div class="portfolio-work-information">
      <p class="portfolio-work-information-title">1 Million Music Moments</p>
      <p class="portfolio-work-information-type">Website</p>
      <p class="portfolio-work-information-description">The website for 1 Million Music Moments (1MMM), a non-profit organization that seeks to strengthen the City of Toronto's reputation as a world class music and cultural centre.</p>
    </div>
	</div>

  <div class="portfolio-work">
		<a class="portfolio-work-screenshot" href="http://thetyc.ca">
      <img src="/assets/images/portfolio/client-thetyc.jpg" alt="" />
    </a>

    <div class="portfolio-work-information">
      <p class="portfolio-work-information-title">Toronto Youth Cabinet</p>
      <p class="portfolio-work-information-type">Website</p>
      <p class="portfolio-work-information-description">The website for the Toronto Youth Cabinet, the official youth advisory body for the City of Toronto.</p>
    </div>
  </div>
</div>

{{outlet}}

<div class="btn-section-footer btn-group row text-center">
  {{#link-to 'portfolio' class='btn'}}Back to Portfolio{{/link-to}}
</div>
