<section class="masthead--portfolio masthead text-center">
  <h1 class="masthead-title">Websites</h1>

  <p class="masthead-description">A collection of projects for various clients like <a href="#">1 Million Music Moments</a> and the <a href="">Toronto Youth Cabinet</a>.</p>

  <div class="masthead-actions">
    {{#link-to 'portfolio' class='masthead-btn btn'}}Back to Portfolio{{/link-to}}
  </div>
</section>

<div class="portfolio-section--work">
	<div class="container">
	  <h4 class="portfolio-work-title text-center">Nonprofits</h4>

    <div class="portfolio-work portfolio-work--lg">
  		<a class="portfolio-work-screenshot" href="http://1MMM.org">
        <img src="/assets/images/portfolio/client-1mmm.jpg" alt="1 Million Music Moments" />
      </a>
  	</div>

    <div class="portfolio-work portfolio-work--lg">
  		<a class="portfolio-work-screenshot" href="http://thetyc.ca">
        <img src="/assets/images/portfolio/client-thetyc.jpg" alt="" />
      </a>
    </div>
  </div>
</div>

{{outlet}}
