<div class="page page--resume">
  <div class="container">
    <div class="resume-section--masthead row">
      <div class="resume-headline">
        <p class="resume-headline-text"><span class="resume-headline-focus">Product Manager</span> at <span class="resume-headline-focus">Zazzle</span></p>
        <p class="resume-headline-text"><span class="resume-headline-focus">Computer Science</span> '17 at the <span class="resume-headline-focus">University of Toronto</span></p>
      </div>

      <h6 class="resume-section-sub-heading">Contact Information:</h6>
      <ul>
        <li><a>vuongkarel@gmail.com</a></li>
        <li><a>@karelvuong</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="resume-section">
          <div class="resume-section-header">Experience</div>

          <div class="resume-section-body">
            <div class="resume-item">
              <p class="resume-item-position">Product Manager Intern</p>
              <p class="resume-item-info"><strong>Zazzle</strong> | Redwood City, CA</p>
              <p class="resume-item-date"><span>January 2015</span> &mdash; <span>April 2015</span></p>

              <ul class="resume-item-details"></ul>
            </div>

            <div class="resume-item">
              <p class="resume-item-position">Product Manager Intern</p>
              <p class="resume-item-info"><strong>BlackBerry</strong> | Waterloo, ON</p>
              <p class="resume-item-date"><span>July 2014</span> &mdash; <span>December 2014</span></p>

              <ul class="resume-item-details"></ul>
            </div>

            <div class="resume-item">
              <p class="resume-item-position">Applications Developer Intern</p>
              <p class="resume-item-info"><strong>BlackBerry</strong> | Waterloo, ON</p>
              <p class="resume-item-date"><span>January 2014</span> &mdash; <span>July 2014</span></p>

              <ul class="resume-item-details"></ul>
            </div>

            <div class="resume-item">
              <p class="resume-item-position">Consultant</p>
              <p class="resume-item-info"><strong>Innovitas</strong> | Toronto, ON</p>
              <p class="resume-item-date"><span>July 2014</span> &mdash; <span>January 2015</span></p>

              <ul class="resume-item-details"></ul>
            </div>
          </div>
        </div>

        <div class="resume-section">
          <div class="resume-section-heading">Projects</div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="resume-section">
          <div class="resume-section-heading">Skills</div>
        </div>

        <div class="resume-section">
          <div class="resume-section-heading">Education</div>
        </div>

        <div class="resume-section">
          <div class="resume-section-heading">Awards</div>
        </div>

        <div class="resume-section">
          <div class="resume-section-heading">Volunteer</div>
        </div>
      </div>
    </div>

    {{outlet}}
  </div>
</div>
