<div class="page page--resume">
  <div class="container">
    <div class="row">
      <h6>Contact Information</h6>

      <ul>
        <li><a>vuongkarel@gmail.com</a></li>
        <li><a>@karelvuong</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="resume-section">
          <div class="resume-section-heading">Experience</div>
        </div>

        <div class="resume-section">
          <div class="resume-section-heading">Projects</div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="resume-section">
          <div class="resume-section-heading">Skills</div>
        </div>

        <div class="resume-section">
          <div class="resume-section-heading">Tools</div>
        </div>

        <div class="resume-section">
          <div class="resume-section-heading">Education</div>
        </div>

        <div class="resume-section">
          <div class="resume-section-heading">Awards</div>
        </div>

        <div class="resume-section">
          <div class="resume-section-heading">Volunteer</div>
        </div>
      </div>
    </div>

    {{outlet}}
  </div>
</div>
