<div class="page page--resume">
  <div class="container">
    <div class="section--masthead row text-center">
      <h2>Karel Vuong</h2>

      <ul class="masthead-list">
        <li><a href="mailto:karel.vuong@utoronto.ca">Email</a></li>
        <li><a href="https://github.com/karelvuong">GitHub</a></li>
        <li><a href="https://linkedin.com/in/karelvuong">LinkedIn</a></li>
        <li><a href="https://twitter.com/karelvuong">Twitter</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="resume-column-left col-lg-6">
        <div class="resume-section">
          <h1 class="resume-section-header">Experience</h1>

          <div class="resume-section-body">
            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-text pull-left">
                  <h1 class="resume-item-position">Web Developer Intern</h1>
                  <p class="resume-item-company"><strong><a href="www.vidyard.com">Vidyard</a></strong> | Waterloo, ON</p>
                </div>

                <div class="pull-right">
                  <p class="resume-item-date"><span>May 2015</span> &mdash; <span>Present</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                </ul>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-text pull-left">
                  <h1 class="resume-item-position">Product Manager Intern</h1>
                  <p class="resume-item-company"><strong><a href="www.zazzle.com/">Zazzle</a></strong> | Redwood City, CA</p>
                </div>

                <div class="pull-right">
                  <p class="resume-item-date"><span>January 2015</span> &mdash; <span>April  2015</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Owned implementation of the design of the <a href="http://maker.zazzle.com" target="_blank">Maker Dashboard</a> through the creation of mockups and management of the product life cycle</li>
                  <li>Managed redesign of all settings and configuration pages on <a href="http://zazzle.com" target="_blank">www.zazzle.com</a></li>
                  <li>Drove initiative to migrate from Asana to JIRA, moving the entire company to the new platform within a week with minimal work disruption</li>
                </ul>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-text pull-left">
                  <h1 class="resume-item-position">Product Manager Intern</h1>
                  <p class="resume-item-company"><strong><a href="www.blackberry.com">BlackBerry</a></strong> | Waterloo, ON</p>
                </div>

                <div class="pull-right">
                  <p class="resume-item-date"><span>July 2014</span> &mdash; <span>December 2014</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Led efforts for a rebuild of the business process management and modeling platform used by over 3,000 active employees; AngularJS, Python, MongoDB, and Oracle</li>
                  <li>Initiated Lean Six Sigma Green Belt project to redesign and improve processes for marketing, manufacturing, reliability, and software development organizations</li>
                </ul>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-text pull-left">
                  <h1 class="resume-item-position">Applications Developer Intern</h1>
                  <p class="resume-item-company"><strong><a href="www.blackberry.com">BlackBerry</a></strong> | Waterloo, ON</p>
                </div>

                <div class="pull-right">
                  <p class="resume-item-date"><span>January 2014</span> &mdash; <span>July 2014</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Developed administrative tool to enable internal platform customers to perform self-serve support, reducing ticket resolution time from 3-7 days to less than 24 hours; Python, AngularJS</li>
                </ul>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-text pull-left">
                  <h1 class="resume-item-position">Consultant</h1>
                  <p class="resume-item-company"><strong>Innovitas</strong> | Toronto, ON</p>
                </div>

                <div class="pull-right">
                  <p class="resume-item-date"><span>July 2014</span> &mdash; <span>January 2015</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <div class="resume-item-details">
                  <div class="resume-item-sub-details">
                    <p class="resume-item-details-list-heading"><strong>Toronto Youth Cabinet</strong> (July 2014 — January 2015):</p>
                    <ul>
                      <li>Launched rebranding campaign by designing new logo, styleguide, and design material</li>
                      <li><a href="http://thetyc.ca">Website</a>: Developed website for the official youth advisory body to the Toronto's city council; PHP, MySQL</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-text pull-left">
                  <h1 class="resume-item-position">Mobile Application Developer</h1>
                  <p class="resume-item-company"><strong>Independent</strong> | Toronto, ON</p>
                </div>

                <div class="pull-right">
                  <p class="resume-item-date"><span>September 2013</span> &mdash; <span>January 2014</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Designed and developed apps for BlackBerry 10 using the Native SDK with the Cascades UI Framework (C++, QT/QML):</li>
                  <ul class="resume-item-sub-details">
                    <li><a href="http://bit.ly/karel-cella-bbw">Cella</a> (BfB Certified): a home inventory management app that securely stores information of possessions in a three-tiered organizational system</li>
                    <li><a href="http://bit.ly/karel-cooler-bbw">Cooler</a> (BfB Certified): an app for designers that generates color schemes and palettes through real-time color manipulation based on RGB and HSV values</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="resume-section">
          <h1 class="resume-section-header">Projects</h1>

          <div class="resume-section-body">
            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-text pull-left">
                  <h1 class="resume-item-position">Themes</h1>
                </div>
              </div>

              <div class="resume-item-body">
                <div class="resume-item-details">
                  <div class="resume-item-details-list">
                    <h6 class="resume-item-details-list-heading">Brackets:</h6>
                    <ul>
                      <li><a href="#">Fox</a>: A syntax theme based on Mozilla's Firefox Developer Edition</li>
                    </ul>
                  </div>

                  <div class="resume-item-details-list">
                    <h6 class="resume-item-details-list-heading">Chrome Developer Tools:</h6>
                    <ul>
                      <li><a href="https://github.com/karelvuong/devtools-chromegray--dark">Chromegray</a>: A theme based on the Spacegray Sublime Text UI theme</li>
                    </ul>
                  </div>

                  <div class="resume-item-details-list">
                    <h6 class="resume-item-details-list-heading">Sublime Text:</h6>
                    <ul>
                      <li><a href="https://github.com/karelvuong/st-fox">Fox</a>: A UI + syntax theme based on Mozilla's Firefox Developer Edition</li>
                      <li><a href="https://github.com/karelvuong/st-primer">Primer</a>: A UI + syntax theme inspired by GitHub's design and UI</li>
                    </ul>
                  </div>

                  <div class="resume-item-details-list">
                    <h6 class="resume-item-details-list-heading">Terminal:</h6>
                    <ul>
                      <li><a href="https://github.com/karelvuong/terminal-afterglow">Afterglow</a>: A theme based on the Afterglow Sublime Text UI theme</li>
                      <li><a href="https://github.com/karelvuong/terminal-spacegray">Fox</a>: A theme based on Mozilla's Firefox Developer Edition</li>
                      <li><a href="https://github.com/karelvuong/terminal-spacegray">Spacegray</a>: A theme based on the Spacegray Sublime Text UI theme</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header">
                <h1 class="resume-item-position">Casa</h1>
                <p class="resume-item-company"><strong>Hack the North 2014</strong></p>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>A platform that eases the subletting process for students, co-op workers, and young professionals</li>
                </ul>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header">
                <h1 class="resume-item-position">Curo</h1>
                <p class="resume-item-company"><strong>RBC Royal Bank - Next Great Innovator 2014</strong></p>
                <p class="resume-item-date"><a href="https://github.com/karelvuong/zzz-curo">GitHub</a></p>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>A business intelligence and analytics platform that translates client and transactional data into actionable signal data</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="resume-column-right col-lg-6">
        <div class="resume-section">
          <h1 class="resume-section-header">Education</h1>

          <div class="resume-section-body">
            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-text pull-left">
                  <h1 class="resume-item-position">University of Toronto - Trinity College</h1>
                  <p class="resume-item-company"><strong>Computer Science, B.Sc</strong></p>
                </div>

                <div class="pull-right">
                  <p class="resume-item-date"><span>September 2011</span> &mdash; <span>Present</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Professional Experience Year (PEY)</li>
                  <li>Work Abroad Program (WAP)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="resume-section">
          <h1 class="resume-section-header">Awards</h1>

          <div class="resume-section-body">
            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-text pull-left">
                  <h1 class="resume-item-position">RBC Royal Bank - Next Great Innovator </h1>
                  <p class="resume-item-company"><strong>Finalist (2nd)</strong></p>
                </div>

                <div class="pull-right">
                  <p class="resume-item-date">June 2014</p>
                </div>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-text pull-left">
                  <h1 class="resume-item-position">Eli Lilly - Clinical Trial Visualization Redesign</h1>
                  <p class="resume-item-company"><strong>Honourable Mention</strong></p>
                </div>

                <div class="pull-right">
                  <p class="resume-item-date">November 2013</p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Received a $3,000 cash prize for the <a href="http://challengepost.com/software/clinico">Clinico</a> solution.</li>
                </ul>
              </div>
            </div>


            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-text pull-left">
                  <h1 class="resume-item-position">BlackBerry Jam Camp</h1>
                  <p class="resume-item-company"><strong>Finalist (1st)</strong></p>
                </div>

                <div class="pull-right">
                  <p class="resume-item-date">September 2013</p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Received four BlackBerry 10 devices and limited edition red, developer BlackBerry Z10 device for <a href="http://bit.ly/karel-cella-bbw">Cella</a>.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="resume-section">
          <div class="resume-section-header">Volunteer</div>

          <div class="resume-section-body">
            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-text pull-left">
                  <h1 class="resume-item-position">1 Million Music Moments</h1>
                  <p class="resume-item-company"><strong>Digital Director</strong></p>
                </div>

                <div class="pull-right">
                  <p class="resume-item-date"><span>January 2014</span> &mdash; <span>Present</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Defined brand identity across all print and digital mediums</li>
                  <li>
                    <a href="http://1MMM.org">Website</a>: Developed interactive, content driven feed that aggregates musical moments hashtagged with #1MMM from social media websites; AngularJS, PHP
                  </li>
                </ul>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-text pull-left">
                  <h1 class="resume-item-position">EdAppHack 2014</h1>
                  <p class="resume-item-company"><strong>Mentor</strong></p>
                </div>

                <div class="pull-right">
                  <p class="resume-item-date">October 2014</p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Mentored group of secondary school students received an honourable mention for their application prototype, TimeLine.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{outlet}}
  </div>
</div>
