<div class="page page--resume">
  <div class="container">
    <div class="row">
      <h6>Contact Information</h6>

      <ul>
        <li><a>vuongkarel@gmail.com</a></li>
        <li><a>@karelvuong</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="resume-section">
          <div class="resume-section-heading"><i class="oi" data-glyph="briefcase"></i> Experience</div>
        </div>

        <div class="resume-section">
          <div class="resume-section-heading"><i class="oi" data-glyph="project"></i> Projects</div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="resume-section">
          <div class="resume-section-heading"><i class="oi" data-glyph="code"></i> Skills</div>
        </div>

        <div class="resume-section">
          <div class="resume-section-heading">Education</div>
        </div>

        <div class="resume-section">
          <div class="resume-section-heading">Awards</div>
        </div>

        <div class="resume-section">
          <div class="resume-section-heading">Volunteer</div>
        </div>
      </div>
    </div>

    {{outlet}}
  </div>
</div>
