<section class="portfolio-section--masthead text-center">
  <h1 class="portfolio-masthead-title">Client Work</h1>
  <p class="portfolio-masthead-description">A collection of projects for various clients like <a href="#">1 Million Music Moments</a> and the <a href="">Toronto Youth Cabinet</a>.</p>

  <div class="portfolio-masthead-overlay"></div>
</section>

{{outlet}}
