<div class="page page--post">
  {{outlet}}
</div>

<style type="text/css">
  .header--site a {
    color: #fff;
  }

  .header--site-twitter,
  .header--site .header--site-list-item a {
    color: rgba(255, 255, 255, 0.9);
  }

  .header--site a:hover {
    color: #fff;
  }
</style>
