<div class="page page--post page--has-masthead">
  {{outlet}}

  <div class="container text-center">
    <div class="btn-section-footer btn-group">
      {{#link-to 'posts' class='btn'}}Back to Posts{{/link-to}}
    </div>
  </div>
</div>

<style type="text/css">
  .header--site a {
    color: #fff;
  }

  .header--site-twitter,
  .header--site .header--site-list-item a {
    color: rgba(255, 255, 255, 0.9);
  }

  .header--site a:hover,
  .header--site a:focus {
    color: #fff;
  }
</style>
