<div class="page page--post page--has-masthead">
  {{outlet}}
</div>

<section class="section--ember section--xs">
  <div class="container text-center">
    <p><small>Want to read more? Go back to my <strong>{{#link-to 'posts'}}Posts{{/link-to}}</strong>.</small></p>
  </div>
</section>

<style type="text/css">
  .header--site a {
    color: #fff;
  }

  .header--site-twitter,
  .header--site .header--site-list-item a {
    color: rgba(255, 255, 255, 0.9);
  }

  .header--site a:hover,
  .header--site a:focus {
    color: #fff;
  }
</style>
