<div class="page page--portfolio">
  <div class="container">

    <!-- <div class="work-row row">
      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/github-toolbox" target="_blank" style="background-color: #66C3EB;">
          <i class="oi icon" data-glyph="graph"></i>
        </a>

        <div class="outer">
          <p class="title">ember-cli-plottable</p>
          <p class="type"><strong>Ember CLI Addon</strong></p>
          <p class="description">The Plottable.js (by Palantir) charts library addon for ember-cli.</p>
        </div>
      </div>

      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/chrome-ext-github-toolbox" target="_blank" style="background-color: #bd2c00;">
          <i class="oi icon" data-glyph="script"></i>
        </a>

        <div class="outer">
          <p class="title">GitHub Toolbox</p>
          <p class="type"><strong>Chrome Extension</strong></p>
          <p class="description">A Google Chrome Extension that extends GitHub's functionality with a few useful tools.</p>
        </div>
      </div>
    </div> -->

  </div>

  {{outlet}}
</div>
