<div class="page">
  <div class="container">
    <div class="section--masthead row">
      <div class="masthead-headline">
        <p class="masthead-headline-text"><span class="masthead-headline-focus">Product Manager</span> at <span class="masthead-headline-focus">Zazzle</span></p>
        <p class="masthead-headline-text"><span class="masthead-headline-focus">Computer Science</span> '17 at the <span class="masthead-headline-focus">University of Toronto</span></p>
      </div>

      <h6>Contact</h6>
      <ul>
        <li><a>Email</a></li>
        <li><a>Twitter</a></li>
      </ul>
    </div>

    {{outlet}}
  </div>
</div>
