<div class="page">
  <div class="container">
    <div class="section--masthead row">
    </div>

    Born in Toronto, ON, Canada, I am currently working on the other side of the continent in the Bay Area as a Product Manager at Zazzle.

    I sit in the intersection of design and engineering, touching on

    I enjoy photography.



    {{outlet}}
  </div>
</div>
