<section class="masthead--portfolio masthead text-center">
  <div class="container">
    <h1 class="masthead-title">Themes</h1>
    <p class="masthead-description">A collection of themes for tools like <a href="#">Brackets</a>, <a href="#">Chrome Developer Tools</a>, <a href="#">Sublime Text</a>, and <a href="#">Terminal</a>.</p>

    <div class="masthead-actions">
      {{#link-to 'portfolio' class='masthead-btn btn'}}Back to Portfolio{{/link-to}}
    </div>
  </div>
</section>

<div class="portfolio-section--work container">
  <h4 class="portfolio-work-title text-center">Brackets</h4>

  <div class="portfolio-work">
    <a class="portfolio-work-screenshot" href="https://github.com/karelvuong/brackets-fox--dark">
      <img src="/assets/images/portfolio/theme-brackets-fox_dark.jpg" alt="Fox - Theme for Brackets" />

      <div class="portfolio-work-information">
		    <p class="portfolio-work-information-title">Fox</p>
		    <p class="portfolio-work-information-type">Theme - Brackets</p>
		    <p class="portfolio-work-information-description">A syntax theme for Brackets based on Mozilla's Firefox Developer Edition.</p>
      </div>
    </a>
  </div>
</div>

<div class="portfolio-section--work container">
  <h4 class="portfolio-work-title text-center">Chrome Developer Tools</h4>

  <div class="portfolio-work">
    <a class="portfolio-work-screenshot" href="https://github.com/karelvuong/devtools-chromegray--dark">
      <img src="/assets/images/portfolio/theme-devtools-chromegray.jpg" alt="Chromegray - Theme for Chrome DevTools" />

      <div class="portfolio-work-information">
		    <p class="portfolio-work-information-title">Chromegray</p>
		    <p class="portfolio-work-information-type">Theme - Chrome Developer Tools</p>
		    <p class="portfolio-work-information-description">A theme for Chrome Developer Tools based on the Spacegray Sublime Text theme.</p>
      </div>
    </a>
  </div>
</div>

<div class="portfolio-section--work container">
  <h4 class="portfolio-work-title text-center">Sublime Text</h4>

  <div class="portfolio-work">
    <a class="portfolio-work-screenshot" href="https://github.com/karelvuong/st-fox">
      <img src="/assets/images/portfolio/theme-st-fox_dark.jpg" alt="Fox - Theme for Sublime Text" />

      <div class="portfolio-work-information">
		    <p class="portfolio-work-information-title">Fox</p>
		    <p class="portfolio-work-information-type">Theme - Sublime Text</p>
		    <p class="portfolio-work-information-description">A UI + syntax theme for Sublime Text based on Mozilla's Firefox Developer Edition.</p>
      </div>
    </a>
  </div>

  <div class="portfolio-work">
    <a class="portfolio-work-screenshot" href="https://github.com/karelvuong/st-fox">
      <img src="/assets/images/portfolio/theme-st-primer_light.jpg" alt="Primer - Theme for Sublime Text" />

      <div class="portfolio-work-information">
		    <p class="portfolio-work-information-title">Primer</p>
		    <p class="portfolio-work-information-type">Theme - Sublime Text</p>
		    <p class="portfolio-work-information-description">A UI + syntax theme for Sublime Text inspired by GitHub's design.</p>
      </div>
    </a>
  </div>
</div>

<div class="portfolio-section--work container">
  <h4 class="portfolio-work-title text-center">Terminal</h4>

  <div class="portfolio-work">
    <a class="portfolio-work-screenshot" href="https://github.com/karelvuong/terminal-afterglow">
      <img src="/assets/images/portfolio/theme-terminal-afterglow.jpg" alt="Afterglow - Theme for Terminal" />

      <div class="portfolio-work-information">
		    <p class="portfolio-work-information-title">Afterglow</p>
		    <p class="portfolio-work-information-type">Theme - Terminal</p>
		    <p class="portfolio-work-information-description">The Afterglow sublime theme ported over to Terminal.app.</p>
      </div>
    </a>
  </div>

  <div class="portfolio-work">
    <a class="portfolio-work-screenshot" href="https://github.com/karelvuong/terminal-spacegray">
      <img src="/assets/images/portfolio/theme-terminal-spacegray.jpg" alt="Afterglow - Theme for Terminal" />

      <div class="portfolio-work-information">
		    <p class="portfolio-work-information-title">Spacegray</p>
		    <p class="portfolio-work-information-type">Theme - Terminal</p>
		    <p class="portfolio-work-information-description">The Spacegray sublime theme ported over to Terminal.app.</p>
      </div>
    </a>
  </div>
</div>

{{outlet}}

<div class="btn-section-footer btn-group row text-center">
  {{#link-to 'portfolio' class='btn'}}Back to Portfolio{{/link-to}}
</div>
