<section class="portfolio-section--masthead text-center">
  <h1 class="portfolio-masthead-title">Themes</h1>
  <p class="portfolio-masthead-description">A collection of themes for tools like <a href="#">Atom</a>, <a href="#">Brackets</a>, <a href="#">Chrome Developer Tools</a>, and <a href="#">Sublime Text</a>.</p>

  <div class="portfolio-masthead-overlay"></div>
</section>

<div class="portfolio-section--work">
	<div class="container">
	  <h4 class="portfolio-work-title text-center">Brackets</h4>
	</div>
  <div class="portfolio-work">
		<a class="portfolio-work-screenshot" href="https://github.com/karelvuong/brackets-fox--dark" style="background-image: url('/assets/images/portfolio/theme-primer_light.jpg')"></a>

    <div class="portfolio-work-information">
			<div class="container">
		    <p class="portfolio-work-information-title">Fox</p>
		    <p class="portfolio-work-information-type">Theme - Brackets</p>
		    <p class="portfolio-work-information-description">A syntax theme for Brackets based on Mozilla's Firefox Developer Edition.</p>
			</div>
    </div>
  </div>
</div>

<div class="portfolio-section">
  <h4 class="text-center">Chrome Developer Tools</h4>
  <div class="work">
    <a class="inner" href="https://github.com/karelvuong/devtools-chromegray--dark" target="_blank" style="background-color: #2B303B;">
      <i class="oi icon" data-glyph="code"></i>
    </a>

    <div class="outer">
      <p class="title">Chromegray</p>
      <p class="description">A theme for Chrome Developer Tools based on the Spacegray Sublime Text theme.</p>
    </div>
  </div>
</div>

<div class="portfolio-section--work">
	<div class="container">
	  <h4 class="portfolio-work-title text-center">Sublime Text</h4>
	</div>

  <div class="work">
    <a class="inner" href="https://github.com/karelvuong/st-fox" target="_blank" style="background-color: #39424D;">
      <i class="oi icon" data-glyph="excerpt"></i>
    </a>

    <div class="outer">
      <p class="title">Fox</p>
      <p class="description">A UI + syntax theme for Sublime Text based on Mozilla's Firefox Developer Edition.</p>
    </div>
  </div>
</div>

<div class="portfolio-section--work">
	<div class="container">
	  <h4 class="portfolio-work-title text-center">Terminal</h4>
	</div>
  <div class="work work--side">
    <a class="inner" href="https://github.com/karelvuong/terminal-afterglow" target="_blank" style="background-color: #2E2E2E;">
      <i class="oi icon" data-glyph="terminal"></i>
    </a>

    <div class="outer">
      <p class="title">Afterglow</p>
      <p class="description">The Afterglow sublime theme ported over to Terminal.app.</p>
    </div>
  </div>
  <div class="work work--side">
    <a class="inner" href="https://github.com/karelvuong/terminal-fox" target="_blank" style="background-color: #14171A;">
      <i class="oi icon" data-glyph="terminal"></i>
    </a>

    <div class="outer">
      <p class="title">Fox</p>
      <p class="description">The Fox sublime theme ported over to Terminal.app.</p>
    </div>
  </div>
  <div class="work work--side">
    <a class="inner" href="https://github.com/karelvuong/terminal-spacegray" target="_blank" style="background-color: #2B2F3A;">
      <i class="oi icon" data-glyph="terminal"></i>
    </a>

    <div class="outer">
      <p class="title">Spacegray</p>
      <p class="description">The Spacegray sublime theme ported over to Terminal.app.</p>
    </div>
  </div>
</div>

{{outlet}}
