<article id="article-{{model.id}}">
  <section class="masthead masthead--post masthead--inverted text-center" style="background-color: #212121;">
    <div class="container">
      <h1 class="masthead-title">{{model.title}}</h1>

      <div class="masthead-meta text-center">
        <div class="masthead-meta-item">
          <i class="oi" data-glyph="clock"></i> {{model.date}}
        </div>
      </div>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <p class="post-section-header-blurb lead">Iteration #8</p>
      </div>

      <p class="post-section-text lead">I know, I know... there's been so many iterations I can barely keep count.</p>

      <p class="post-section-text">I'm not going to say that will be the last. What I will say is that I will complete all aspects of it before exploring a different design, this includes:</p>

      <ul>
        <li>A showcase of all of my work</li>
        <li>My resume</li>
      </ul>

      <p class="post-section-text">I'm not going to say that will be the last. What I will say is that I will complete all aspects of it before exploring a different design, this includes:</p>

    </div>
  </section>

  {{outlet}}
</article>
