<article id="article-{{model.id}}">
  <section class="masthead masthead--post masthead--inverted text-center" style="background-color: #212121;">
    <div class="container">
      <h1 class="masthead-title">{{model.title}}</h1>

      <div class="masthead-meta text-center">
        <div class="masthead-meta-item">
          <i class="oi" data-glyph="clock"></i> {{model.date}}
        </div>
      </div>
    </div>
  </section>

  <section class="section--text">
    <div class="container container--sm">
      <h1>Iteration #8</h1>
      <p class="subtitle"></p>

      <p class="lead">I know, I know... there's been so many iterations I can barely keep count.</p>

      <p>
        This isn't the first and it definitely won't be the last.
      </p>

      <p>
        This time, however, I will be sure to complete all aspects of it before overhauling the entire site and redesigning it yet again.
      </p>

      <p>
        While it's fun to explore new designs, layouts, and techniques, sometimes too much experimentation is a bad thing.
      </p>

      <p class="text-center">
        &ndash; Karel
      </p>
    </div>
  </section>

  {{outlet}}
</article>
