<section class="masthead--portfolio masthead text-center">
  <div class="container">
    <h1 class="masthead-title">Extensions</h1>
    <p class="masthead-description">A collection of extensions that extends the functionality of <a href="#">Google Chrome</a>.</p>

    <div class="masthead-actions">
      {{#link-to 'portfolio' class='masthead-btn btn'}}Back to Portfolio{{/link-to}}
    </div>
  </div>

  <div class="portfolio-masthead-overlay"></div>
</section>

<div class="portfolio-section--work">
	<div class="container">
	  <h4 class="portfolio-work-title text-center">Google Chrome</h4>
	</div>

  <a class="portfolio-work portfolio-work--small" href="https://github.com/karelvuong/chrome-ext-github-toolbox" style="background-color: #4183C4">
    <div class="portfolio-work-information">
			<div class="container">
		    <p class="portfolio-work-information-title">GitHub Toolbox</p>
		    <p class="portfolio-work-information-type">Chrome Extension</p>
		    <p class="portfolio-work-information-description">A Google Chrome Extension that extends GitHub's functionality with a few useful tools.</p>
			</div>
    </div>
  </a>
</div>

{{outlet}}

<div class="btn-section-footer btn-group row text-center">
  {{#link-to 'portfolio' class='btn'}}Back to Portfolio{{/link-to}}
</div>
