<section class="portfolio-section--masthead text-center">
  <h1 class="portfolio-masthead-title">Extensions</h1>
  <p class="portfolio-masthead-description">A collection of extensions that extends the functionality of <a href="#">Chrome Developer Tools</a>.</p>

  <div class="portfolio-masthead-overlay"></div>
</section>

<div class="portfolio-section--work">
	<div class="container">
	  <h4 class="portfolio-work-title text-center">Chrome Developer Tools</h4>
	</div>

  <a class="portfolio-work" href="https://github.com/karelvuong/chrome-ext-github-toolbox">
    <div class="portfolio-work-screenshot portfolio-work-screenshot--top" style="background-image: url('/assets/images/portfolio/theme-devtools-chromegray.jpg')"></div>

    <div class="portfolio-work-information">
			<div class="container">
		    <p class="portfolio-work-information-title">GitHub Toolbox</p>
		    <p class="portfolio-work-information-type">Chrome Extension</p>
		    <p class="portfolio-work-information-description">A Google Chrome Extension that extends GitHub's functionality with a few useful tools.</p>
			</div>
    </div>
  </a>
</div>

{{outlet}}

<div class="row text-center">
  <div class="btn-section-footer btn-group">
    {{#link-to 'portfolio' class='btn'}}Back to Portfolio{{/link-to}}
  </div>
</div>
