<article id="article-{{model.id}}" class="article--zazzle">
  <section class="post-section--masthead text-center">
    <h1 class="post-masthead-title">{{model.title}}</h1>

    <div class="post-masthead-meta text-center">
      <p class="post-masthead-meta-item post-masthead-meta-item--date">
        <i class="oi" data-glyph="clock"></i> {{model.date}}
      </p>
      <ul class="post-masthead-meta-item post-masthead-meta-item--tags">
        <i class="oi" data-glyph="tags"></i>
        <li class="post-masthead-meta-item--tag">Design Analysis</li>
      </ul>
    </div>

    <div class="post-masthead-overlay"></div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Designing Zazzle.com Settings</h1>
        <p class="post-section-header-blurb lead">A look into the design process.</p>
      </div>

      <p class="post-section-text lead">As my second project since <a href="">joining the Zazzle team as a Product Manager Intern</a> in January, I took on the task of redesigning the settings pages on Zazzle.com.</p>

      <p>I started the redesign project in late March of 2015. While there were a number of other exciting projects ongoing, I wanted to take on a project that I could work through from the beginning all the way to the very end - from ideation to implementation. Coupled with the fact that my internship was coming to an end at the end of April 2015, this was the perfect project.</p>

      <p>While not entirely public facing, the settings pages play a fundamental on Zazzle.com. Any changes that need to be made to a user's profile and account settings, or a store owner's products, payment information, and tax settings are controlled on these pages. And it is here where users provide both public and sensitive information to us.</p>

      <p><strong>Like with the {{#link-to 'post.design-analysis-zazzle-maker'}}Zazzle Maker Dashboard{{/link-to}}, I took on the duo role of both a product designer and product manager.</strong> I was the primary designer and was responsible for the creation of all designs, mockups, and wireframes, and also managed development for the implementation of the settings pages.</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Objectives</h1>
        <p class="post-section-header-blurb lead">The goal was to make modifying your settings a breeze.</p>
      </div>

      <p class="post-section-text lead">We wanted the pages to be more usable, visually appealing, and complementary to the new design.</p>

      <p>We wanted to improve the experience of modifying your user and store settings. The primary goal was to provide users with a seamless way of transitioning from viewing their profile to editing their profile and settings. To go hand in hand with the new member and store profile, the settings were a prime candidate to accompany this design refresh.</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Initial State</h1>
        <p class="post-section-header-blurb lead">What it looks like now.</p>
      </div>

      <p>Prior to the redesign, the settings were difficult to navigate. User testing was conducted to evaluate the usability of the pages and are summarized into the sections below.</p>

      <h1>Accessibility</h1>
      <p>A user's settings was accessed by hovering over the icon of the member's profile picture in the header and clicking <strong>My Accounts</strong> or <strong>Edit Profile</strong>. Modifying your profile on a different page may lead to some confusion as you are no longer on the page you are editing. Sites like Facebook and Houzz address this by allowing users to edit their information from directly on the profile.</p>

      <h1>Context</h1>
      <p>Related to the points made above, editing your profile information or account settings performed on pages that look very similar and generic, making it difficult to distinguish whether you are within the member context or the store context.</p>

      <h1>Navigation</h1>
      <p>In its current state, it is unclear how to navigate to different sections of the user and store settings. While the flow was designed to be hierarchical, sections are displayed as though they all sit on the same level, despite being a child of a parent. The navigation boils down to a horizontal navigation bar and a side panel.</p>
    </div>
  </section>

  <section class="post-section post-section--image post-section--image--sm">
    <div class="container">
      <figure class="post-section-figure">
        <img class="post-section-figure-image" src="/assets/images/posts/design-analysis-zazzle-maker/initial-nav-horz.jpg" alt="" />
      </figure>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <h3 class="post-section-subtitle">Horizontal Navigation Bar</h3>
      <p>This is some text...</p>

      <h1>Sections</h1>
      <p>This is some text...</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Research and Usability Testing</h1>
        <p class="post-section-header-blurb lead">A little research goes a long way.</p>
      </div>

      <p class="lead"></p>

      <p>We had a bunch of questions like:</p>

      <ul>
        <li>What do users love and what do they dislike about editing their profile or managing their account settings?</li>
        <li>What are our competitors doing?</li>
        <li>What are the current design trends these days for editing a profile or managing account settings?</li>
      </ul>

      <h1>Test</h1>
      <p>...</p>

      <h1>Findings</h1>
      <p>...</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Guiding Principles</h1>
        <p class="post-section-header-blurb lead">It is always prudent to go into something with a plan.</p>
      </div>

      <p class="post-section-text lead">Before I began, I set some guiding principles which were used to steer the decision making behind the design.</p>

      <p>At a high level, I knew what the goals of the company were at the time. Within the scope of the project, it was important that we moved in parallel with other ongoing projects at the time. What this meant was that the settings pages needed to work together with other projects that affected the site. However other projects moved and weaved, the settings pages would have to move with it.</p>

      <h1>Simplicity</h1>
      <p>Blah, blah, blah...</p>

      <h1>Complement the New Design</h1>
      <p>Designing an experience that is familiar and makes sense to the user is paramount. Consistency is key.</p>

      <h1>Respect the Past</h1>
      <p>An issue that commonly arises when redesigning a widely used platform is the need to help current users . You need to strike a balance between giving the users something completely new and bringing users over into the new design in an elegant fashion.</p>

      <h1>Add More Structure</h1>
      <p>Blah, blah, blah...</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Proposition</h1>
        <p class="post-section-header-blurb lead">How it can be improved.</p>
      </div>

      <p class="post-section-text lead">This is some leading text. It appears bigger than the body text because it is meant to stand out!</p>

      <h1>Normalizing Navigation</h1>
      <p>A superset of the next items to improve, the navigation for the settings page</p>

      <h1>Improving Accessibility</h1>
      <p class="post-section-text bold">Enable the user to quickly switch between member settings to their store settings in a single click.</p>
      <p>Also </p>

      <h1>Logical Groupings</h1>
      <p>This is some text...</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Feedback</h1>
        <p class="post-section-header-blurb lead">How it can be improved.</p>
      </div>

      <p class="post-section-text lead">Once functional prototypes were finalized, we had to see if we were on the right track.</p>

      <p>It is never wise to accept that your designs are perfect. With design comes iteration and it is important to realize that. Throughout the entire design process, tools like , , and <a href="http://www.invisionapp.com/">Invision</a> were continously used to present the designs and receive feedback. All Zazzle employees had access to this particular project in Basecamp and were free to view, comment, and provide their feedback on the designs as they were created. As new feedback was received, these were taken with a grain of salt and some decisions were made.</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Tools and Software Used</h1>
        <p class="post-section-header-blurb lead">For design, development, and project management.</p>
      </div>

      <p>There are countless tools out there that are used by different companies and different people. Personally, I am always curious as to what others are using when they go about working on a project. So, here is a list of things I used while working on Zazzle.com Settings!</p>

      <h1>Design</h1>
      <ul>
        <li><a href="http://bohemiancoding.com/sketch/" target="_blank">Sketch</a></li>
        <li><a href="http://www.adobe.com/products/photoshop.html" target="_blank">Adobe Photoshop CC</a></li>
      </ul>

      <h1>Project Management</h1>
      <ul>
        <li><a href="http://asana.com/"><strike>Asana</strike></a></li>
        <li><a href="http://jira.com/">JIRA</a>: Initially, the entire company was using Asana for project management. This changed at the beginning of March when myself and two other individuals led the charge on migrating all management of engineering projects over to JIRA.</li>
      </ul>

      <h1>Feedback</h1>
      <ul>
        <li><a href="http://basecamp.com/">Basecamp</a></li>
        <li><a href="http://www.invisionapp.com/">Invision</a></li>
        <li><a href="https://marvelapp.com/">Marvel</a></li>
      </ul>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Fit and Finish</h1>
        <p class="post-section-header-blurb lead">sdsd</p>
      </div>

      <p class="post-section-text lead">Once functional prototypes were finalized, we had to see if we were on the right track.</p>

      <p> using <a href="http://bohemiancoding.com/sketch/" target="_blank">Sketch</a> and <a href="http://www.adobe.com/products/photoshop.html" target="_blank">Adobe Photoshop CC</a>, </p>
    </div>
  </section>

  {{outlet}}
</article>
