<article id="article-{{model.id}}" class="article--zazzle">
  <section class="post-section--masthead text-center">
    <h1 class="post-masthead-title">Zazzle.com Settings</h1>

    <div class="post-masthead-meta text-center">
      <p class="post-masthead-meta-item post-masthead-meta-item--date">
        <i class="oi" data-glyph="clock"></i> {{model.date}}
      </p>
      <ul class="post-masthead-meta-item post-masthead-meta-item--tags">
        <i class="oi" data-glyph="tags"></i>
        <li class="post-masthead-meta-item--tag">Design Analysis</li>
      </ul>
    </div>

    <div class="post-masthead-overlay"></div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Designing Zazzle.com Settings</h1>
        <p class="post-section-header-subtitle larger">A look into the design process.</p>
      </div>

      <p class="post-section-text larger">As my second project since <a href="">joining the Zazzle team as a Product Manager Intern</a> in January, I was tasked with redesigning the settings pages on Zazzle.com.</p>

      <p class="post-section-text">With a number of exciting initiatives ongoing within Zazzle, I took on the job of tackling what could be considered to be the least exciting of pages on Zazzle.com. The settings pages are not public facing and are only seen when the user wants to make changes to their profile, account settings, notification preferences, and more. Despite not being seen very often like the home page, product pages, or search results, the settings are an important piece of the puzzle.</p>

      <p class="post-section-text">Like with the <a href="#">Zazzle Maker Dashboard</a>, I took on the duo role of both a product designer and product manager. I created all designs, mockups, and wireframes and managed development over all of the settings pages.
      </p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Objectives</h1>
        <p class="post-section-header-subtitle larger">Make modifying your settings a breeze.</p>
      </div>

      <p class="post-section-text larger">To go hand in hand with </p>

      <p class="post-section-text">This is some text...</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Initial State</h1>
        <p class="post-section-header-subtitle larger">What it looks like now.</p>
      </div>

      <p class="post-section-text larger">This is some leading text. It appears bigger than the body text because it is meant to stand out!</p>

      <p class="post-section-text">This is some text...</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Guiding Principals</h1>
        <p class="post-section-header-subtitle larger">The basis of all design decisions.</p>
      </div>

      <p class="post-section-text larger">This is some leading text. It appears bigger than the body text because it is meant to stand out!</p>

      <h2 class="post-section-title">Complement the New Design</h2>
      <p class="post-section-text">This is some text...</p>

      <h2 class="post-section-title">Respect the Past</h2>
      <p class="post-section-text">This is some text...</p>

      <h2 class="post-section-title">Restructure into Logical Groupings</h2>
      <p class="post-section-text">This is some text...</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Proposition</h1>
        <p class="post-section-header-subtitle larger">How it can be improved.</p>
      </div>

      <p class="post-section-text larger">This is some leading text. It appears bigger than the body text because it is meant to stand out!</p>

      <h2 class="post-section-title">Navigation</h2>

      <p class="post-section-text">As a fresh hire, I had the opportunity to review the product from the perspective of someone who had never seen or used the Maker dashboard before. This allowed me to contribute feedback and give insight that existing PMs and members of the Product Design team may have missed after having become familiar with design of the product and its objectives.</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Navigation</h1>
        <p class="post-section-header-subtitle larger">Getting from one place to the next.</p>
      </div>

      <p class="post-section-text larger">This is some leading text. It appears bigger than the body text because it is meant to stand out!</p>

      <h2 class="post-section-title">Design Guidelines</h2>

      <p class="post-section-text">As a fresh hire, I had the opportunity to review the product from the perspective of someone who had never seen or used the Maker dashboard before. This allowed me to contribute feedback and give insight that existing PMs and members of the Product Design team may have missed after having become familiar with design of the product and its objectives.</p>
    </div>
  </section>

  {{outlet}}
</article>
