<article id="article-{{model.id}}" class="article--zazzle">
  <section class="post-section--masthead text-center">
    <h1 class="post-masthead-title">{{model.title}}</h1>

    <div class="post-masthead-meta text-center">
      <p class="post-masthead-meta-item post-masthead-meta-item--date">
        <i class="oi" data-glyph="clock"></i> {{model.date}}
      </p>
      <ul class="post-masthead-meta-item post-masthead-meta-item--tags">
        <i class="oi" data-glyph="tags"></i>
        <li class="post-masthead-meta-item--tag">Design Analysis</li>
      </ul>
    </div>

    <div class="post-masthead-overlay"></div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Designing Zazzle.com Settings</h1>
        <p class="post-section-header-blurb larger">A look into the design process.</p>
      </div>

      <p class="post-section-text larger">As my second project since <a href="">joining the Zazzle team as a Product Manager Intern</a> in January, I was tasked with redesigning the settings pages on Zazzle.com.</p>

      <p class="post-section-text">With a number of exciting initiatives ongoing within Zazzle, I took on the job of redesigning what some could consider to be the least exciting of pages on Zazzle.com. This is far from the truth. While not forward facing, the settings pages play a key role on Zazzle.com. Any changes that need to be made to a user's profile and account settings, or a store owner's products, payment information, and tax settings are controlled on these pages. It is here where users provide both public and sensitive information to us</p>

      <p class="post-section-text"><strong>Like with the {{#link-to 'post.design-analysis-zazzle-maker'}}Zazzle Maker Dashboard{{/link-to}}, I took on the duo role of both a product designer and product manager.</strong> I was responsible for the creation of all designs, mockups, and wireframes, and also managed development for the implementation of the settings pages.</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Objectives</h1>
        <p class="post-section-header-blurb larger">The goal was to make modifying your settings a breeze.</p>
      </div>

      <p class="post-section-text larger">We wanted the pages to be more usable, visually appealing, and complementary to the new design.</p>

      <p class="post-section-text">We wanted the experience of moving from the profile to modifying your profile to be seamless and uninterrupted.</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Initial State</h1>
        <p class="post-section-header-blurb larger">What it looks like now.</p>
      </div>

      <h2 class="post-section-title">Accessibility</h2>
      <p class="post-section-text">This is some text...</p>

      <h2 class="post-section-title">Navigation</h2>
      <p class="post-section-text">In its current state, getting around in the settings is difficult. There is a lack of hierarchy that makes sense. Elements sit on the same level when they are a child of a parent. The navigation boils down to a horizontal navigation bar and a side panel.</p>
    </div>
  </section>

  <section class="post-section post-section--image post-section--image--sm">
    <div class="container">
      <figure class="post-section-figure">
        <img class="post-section-figure-image" src="/assets/images/posts/design-analysis-zazzle-maker/initial-nav-horz.jpg" alt="" />
      </figure>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <h3 class="post-section-subtitle">Horizontal Navigation Bar</h3>
      <p class="post-section-text">This is some text...</p>

      <h2 class="post-section-title">Sections</h2>
      <p class="post-section-text">This is some text...</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Research and Usability Testing</h1>
        <p class="post-section-header-blurb larger">A little research goes a long way.</p>
      </div>

      <p class="post-section-text larger"></p>

      <p class="post-section-text">We had a bunch of questions like:</p>

      <ul>
        <li>What do users love and what do they dislike about editing their profile or managing their account settings?</li>
        <li>What are our competitors doing?</li>
        <li>What are the current design trends these days for editing a profile or managing account settings?</li>
      </ul>

      <h2 class="post-section-title">Test</h2>
      <p class="post-section-text">...</p>

      <h2 class="post-section-title">Findings</h2>
      <p class="post-section-text">...</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Guiding Principles</h1>
        <p class="post-section-header-blurb larger">It is always prudent to go into something with a plan.</p>
      </div>

      <p class="post-section-text larger">Before I began, I set some guiding principles which were used to steer the decision making behind the design.</p>

      <p class="post-section-text">At a high level, I knew what the goals of the company were at the time. Within the scope of the project, it was important that we moved in parallel with other ongoing projects at the time. What this meant was that the settings pages needed to work together with other projects that affected the site. However other projects moved and weaved, the settings pages would have to move with it.</p>

      <h2 class="post-section-title">Simplicity</h2>
      <p class="post-section-text">Blah, blah, blah...</p>

      <h2 class="post-section-title">Complement the New Design</h2>
      <p class="post-section-text">Designing an experience that is familiar and makes sense to the user is paramount. Consistency is key.</p>

      <h2 class="post-section-title">Respect the Past</h2>
      <p class="post-section-text">An issue that commonly arises when redesigning a widely used platform is the need to help current users . You need to strike a balance between giving the users something completely new and bringing users over into the new design in an elegant fashion.</p>

      <h2 class="post-section-title">Add More Structure</h2>
      <p class="post-section-text">Blah, blah, blah...</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Proposition</h1>
        <p class="post-section-header-blurb larger">How it can be improved.</p>
      </div>

      <p class="post-section-text larger">This is some leading text. It appears bigger than the body text because it is meant to stand out!</p>

      <h2 class="post-section-title">Normalizing Navigation</h2>
      <p class="post-section-text">A superset of the next items to improve, the navigation for the settings page</p>

      <h2 class="post-section-title">Improving Accessibility</h2>
      <p class="post-section-text bold">Enable the user to quickly switch between member settings to their store settings in a single click.</p>
      <p class="post-section-text">Also </p>

      <h2 class="post-section-title">Logical Groupings</h2>
      <p class="post-section-text">This is some text...</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Feedback</h1>
        <p class="post-section-header-blurb larger">How it can be improved.</p>
      </div>

      <p class="post-section-text larger">Once functional prototypes were finalized, we had to see if we were on the right track.</p>

      <p class="post-section-text">It is never wise to accept that your designs are perfect. With design comes iteration and it is important to realize that. Throughout the entire design process, tools like , , and <a href="http://www.invisionapp.com/">Invision</a> were continously used to present the designs and receive feedback. All Zazzle employees had access to this particular project in Basecamp and were free to view, comment, and provide their feedback on the designs as they were created. As new feedback was received, these were taken with a grain of salt and some decisions were made.</p>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Tools and Software Used</h1>
        <p class="post-section-header-blurb larger">For design, development, and project management.</p>
      </div>

      <p class="post-section-text">There are countless tools out there that are used by different companies and different people. Personally, I am always curious as to what others are using when they go about working on a project. So, here is a list of things I used while working on Zazzle.com Settings!</p>

      <h2 class="post-section-title">Design</h2>
      <ul>
        <li><a href="http://bohemiancoding.com/sketch/" target="_blank">Sketch</a></li>
        <li><a href="http://www.adobe.com/products/photoshop.html" target="_blank">Adobe Photoshop CC</a></li>
      </ul>

      <h2 class="post-section-title">Project Management</h2>
      <ul>
        <li><a href="http://asana.com/"><strike>Asana</strike></a></li>
        <li><a href="http://jira.com/">JIRA</a>: Initially, the entire company was using Asana for project management. This changed at the beginning of March when myself and two other individuals led the charge on migrating all management of engineering projects over to JIRA.</li>
      </ul>

      <h2 class="post-section-title">Feedback</h2>
      <ul>
        <li><a href="http://basecamp.com/">Basecamp</a></li>
        <li><a href="http://www.invisionapp.com/">Invision</a></li>
        <li><a href="https://marvelapp.com/">Marvel</a></li>
      </ul>
    </div>
  </section>

  <section class="post-section post-section--text">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1 class="post-section-header-title">Fit and Finish</h1>
        <p class="post-section-header-blurb larger">sdsd</p>
      </div>

      <p class="post-section-text larger">Once functional prototypes were finalized, we had to see if we were on the right track.</p>

      <p class="post-section-text"> using <a href="http://bohemiancoding.com/sketch/" target="_blank">Sketch</a> and <a href="http://www.adobe.com/products/photoshop.html" target="_blank">Adobe Photoshop CC</a>, </p>
    </div>
  </section>

  {{outlet}}
</article>
