.section--intro {
  background-color: #fff;
  padding: 120px 0;
}

.section--posts {
  background-color: #FBFCFD;
  border-top: 1px solid #E0E8EF;
  border-bottom: 1px solid #E0E8EF;
  padding: 60px 40px;
}
