.section {}

.section--xs {
  padding: 5px 0;
}

.section--sm {
  padding: 20px 0;
}

.section--md {
  padding: 60px 0;
}

.section--lg {
  padding: 120px 0;
}

.section--intro {}
  .section--intro-inner {
    margin: 0 auto;
    padding: 20px;
    max-width: 640px;
  }

  .intro-heading {}
  .intro-text {}
  .intro-input {
    padding: 8px 12px;
  }
  .intro-btn {}

// Posts
.posts--home {
  width: 640px;
}

  .post--home {
    & + & {
      margin-top: 60px;
    }
  }

  .post--home-heading {

    & + .post--home-body {
      margin-top: 20px;
    }
  }

  .post_image {
    background-color: #8B959E;
    display: block;
    height: 240px;
    margin-bottom: 10px;
    opacity: 0.1;
    width: 100%;
  }

  .post-title {
    color: @headings-color;
    display: block;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2;

    &:hover {
      color: @link-color;
    }

    & + .post-meta {
      margin-top: 10px;
    }
  }
  .post-title--sm {
    font-size: 16px;
  }

  .post-meta {
    color: @headings-secondary-color;
    font-size: 12px;

    i { margin-right: 2px; }
  }

  .post-title, .post-meta {
    margin-bottom: 0;
  }

  .post_text {
    color: @text-color;
    line-height: 1.6;
    margin-bottom: 0;
  }

.section--work {
  background-color: #FAFAFA;
}

.section--ember {
  background-color: #547387;

  p {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 0;
  }

  a {
    color: #fff;
  }
}

.section--social_button {
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  opacity: 0.90;
  padding: 4px 10px;
}

.logo--home {
  height: 200px;
  margin-bottom: 20px;
  width: 110px;
}







.work-row {
  & + & {
    margin-top: 40px;
  }
}

.work {
  opacity: 0.95;

  &:hover {
    opacity: 1.0;

    .inner {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      text-decoration: none;
    }
  }

  .inner {
    background-color: #8B7DAB;
    border-radius: 2px;
    color: #fff;
    display: block;
    padding: 40px;
  }

  p {
    line-height: 1.315;
    margin: 0;

    & + p {
      margin-top: 10px;
    }
  }

  .title {
    font-size: 14px;
    font-weight: 700;
  }

  .type {
    font-size: 12px;
    margin: 0;
  }

  .icon {
    font-size: 30px;
  }
}

.work--side {
  float: left;
  width: 33.33%;

  &:hover {
    .outer {
      background-color: #fff;
    }
  }

  .inner {
    text-align: center;
  }

  .outer {
    padding: 20px;
  }

  .title,
  .type {
    color: #232A2E;
  }

  .description {
    color: #8B959E;
    font-size: 12px;
  }

  &:nth-of-type(1){
    padding-right: 25px;
  }

  &:nth-of-type(2){
    padding-left: 15px;
    padding-right: 15px;
  }

  &:nth-of-type(3){
    padding-left: 25px;
  }

  @media (max-width: @screen-sm-max) {
    width: 50%;

    &:nth-of-type(2) {
      padding-left: 20px;
      padding-right: 0;
    }

    &:nth-of-type(3) {
      padding-left: 0;
      padding-right: 20px;
      clear: both;
    }
  }

  @media (max-width: @screen-sm-max) {
    width: 100%;

    & + .work--side {
      padding-top: 40px;
    }

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
