.page--portfolio {}
  .masthead--portfolio {
    margin-bottom: 0;
    padding: 30px 0 100px;
    position: relative;
  }
  .portfolio-section--work {
    & + & {
      margin-top: 80px;
    }
  }
    .portfolio-work {
      display: block;
      opacity: 0.95;
      overflow: hidden;
      position: relative;
      .transition(all 100ms cubic-bezier(0.68, 0, 0.265, 1));

      &:hover {
        opacity: 1;
      }

      & + & {
        margin-top: 40px;
      }
    }
      .portfolio-work-screenshot {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 100%;
        width: 100%;
      }
      .portfolio-work-title {
        margin-bottom: 20px;
      }
      .portfolio-work-information {
        background-color: #212121;
        color: #fff;
        padding: 20px;
        bottom: 0;
        left: 0;
        width: 100%;
      }
        .portfolio-work-information-title,
        .portfolio-work-information-type,
        .portfolio-work-information-description {
          margin-bottom: 0;
        }
        .portfolio-work-information-title {
          font-size: 20px;
          font-weight: 700;
        }
        .portfolio-work-information-type,
        .portfolio-work-information-description {
          font-size: 12px;
        }
        .portfolio-work-information-type {
          font-weight: 700;
          margin-bottom: 10px;
        }
        .portfolio-work-information-description {
          color: fade(#fff, 60);
        }
      .portfolio-work-collection {
        display: block;
        padding: 20px 0;

        & + & {
          border-top: 1px solid #ddd;
        }
      }
      .portfolio-work-collection-title {
        display: inline-block;
        font-size: 24px;
      }
