.page--portfolio {}
  .masthead--portfolio {
    margin-bottom: 0;
    padding: 30px 0 100px;
    position: relative;
  }
  .portfolio-section--work {
    & + & {
      margin-top: 80px;
    }
  }
    .portfolio-work {
      display: block;
      opacity: 0.95;
      overflow: hidden;
      position: relative;
      @include transition(all 100ms cubic-bezier(0.68, 0, 0.265, 1));

      &:hover {
        opacity: 1;
      }

      & + & {
        margin-top: 40px;
      }
    }
      .portfolio-work-screenshot {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 100%;
        width: 100%;
      }
      .portfolio-work-title {
        margin-bottom: 20px;
      }
      .portfolio-work-information {
        background-color: #212121;
        color: #fff;
        padding: 20px;
        bottom: 0;
        left: 0;
        width: 100%;
      }
        .portfolio-work-information-title,
        .portfolio-work-information-type,
        .portfolio-work-information-description {
          margin-bottom: 0;
        }
        .portfolio-work-information-title {
          color: #fff;
          font-size: 20px;
          font-weight: 700;

          &:hover {
            color: #fff;
          }
        }
        .portfolio-work-information-type,
        .portfolio-work-information-description {
          font-size: 12px;
        }
        .portfolio-work-information-type {
          font-weight: 700;
          margin-bottom: 10px;
        }
        .portfolio-work-information-description {
          color: fade(#fff, 60);
        }





      .portfolio-collection {
        display: table;
        height: 320px;
        padding: 20px;

        .inner {
          border: 1px solid #ddd;
          display: table-cell;
          position: relative;
          text-align: center;
          vertical-align: middle;
        }

        .text {
          position: relative;
        }
          .title {
            color: #fff;
            font-size: 24px;
            margin-bottom: 0;
          }

        @media (max-width: $screen-sm-max) {
          width: 100%;
        }
      }
        .portfolio-collection-image {
          background-size: cover;
        }
        .portfolio-collection--extensions {
          background: url('/assets/images/portfolio/collections/extensions.png');
        }
        .portfolio-collection--themes {
          background: url('/assets/images/portfolio/collections/themes.png');
        }
        .portfolio-collection--websites {
          background: url('/assets/images/portfolio/collections/websites.png');
        }
