.page--post {
  padding-top: 0;
  padding-bottom: 80px;
}
  .post-masthead {
    background-color: #212121;
    margin-bottom: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
  }
    .post-masthead-title {
      color: #fff;
      font-size: 50px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .post-masthead-meta {
      height: 40px;
      position: absolute;
      bottom: 0;
      width: 100%;

      p {
        margin-bottom: 0;
      }
    }
      .post-masthead-meta-item {
        color: fade(#fff, 60%);
        display: inline-block;
        font-size: 0.9em;
        line-height: 40px;

        i {
          margin-right: 5px;
        }
      }
        .post-masthead-meta-item--tags {
          display: inline-block;
          list-style: none;
          margin-left: 20px;
          padding: 0;
        }
          .post-masthead-meta-item--tag {
            display: inline-block;
          }
      .post-masthead-category {
      }

  .post-section {
    & + &.post-section--text { margin-top: 40px; }
    & + &.post-section--image { margin-top: 80px; }
  }
    .post-section--image {
      margin: 80px 0;
    }
    .post-section-header {
      margin-bottom: 40px;
    }
      .post-section-header-title {
      }
      .post-section-header-subtitle {
        color: @headings-secondary-color;
        font-size: 24px;
      }
    .post-section-text {
      line-height: 2;
    }
      .post-section-text--lg {
        font-size: 18px;
        line-height: 1.6215;
      }
