.page--post {
  .container {
    @media (max-width: @screen-sm-max) {
      padding: 0 40px;
    }
  }

  .accent--blackberry {
    .masthead { background-color: #212121; }
  }

  .accent--zazzle {
    .masthead { background-color: #419AF0; }
  }
}

  .post-section--text {
    line-height: 1.915;

    & + .post-section--text { margin-top: 80px; }
    & + .post-section--image { margin: 40px 0; }

    h1 {
      font-size: 18px;
      margin-top: 40px;
    }

    p {
      margin-bottom: 0;

      & + p {
        margin-top: 20px;
      }
    }
  }
    .post-section-header {
      margin-bottom: 20px;

      .post-section-header-title {
        font-size: 30px;
        line-height: 1.2125;
      }
      .post-section-header-blurb {
        color: @headings-secondary-color;
        font-size: 24px;
      }
    }
    .post-section-subtitle {
      font-size: 14px;
    }
    .post-section-figure {}
      .post-section-figure--title {
        color: @headings-color;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .post-section-figure-image {
        height: auto;
        width: 100%;
      }
  .post-section--image {
    background-color: #FAFAFA;
    border: 1px solid #EAEAED;
    margin: 80px 0;
    padding: 80px 0;
  }
    .post-section--image--sm { margin: 40px 0; padding: 40px 0; }
    .post-section--image--lg { margin: 120px 0; }
