<div class="section--masthead row text-center">
  <h2>Portfolio</h2>

  <ul class="masthead-list">
    <li>{{#link-to 'portfolio.websites'}}Websites{{/link-to}}</li>
    <li>{{#link-to 'portfolio.themes'}}Themes{{/link-to}}</li>
  </ul>
</div>

<div class="portfolio-section--work container">
  <h5 class="text-center">Featured Work</h5>

  <div class="portfolio-work">
    <a class="portfolio-work-screenshot" href="https://github.com/karelvuong/st-primer">
      <img src="/assets/images/portfolio/theme-st-primer_light.jpg" alt="Primer - Theme for Sublime Text" />
    </a>

    <div class="portfolio-work-information">
      <a class="portfolio-work-information-title" href="https://github.com/karelvuong/st-primer">Primer</a>
      <p class="portfolio-work-information-type">Theme - Sublime Text</p>
      <p class="portfolio-work-information-description">A UI + syntax theme for Sublime Text inspired by GitHub's design.</p>
    </div>
  </div>

  <div class="portfolio-work">
		<a class="portfolio-work-screenshot" href="http://1MMM.org">
      <img src="/assets/images/portfolio/client-1mmm.jpg" alt="1 Million Music Moments" />
    </a>

    <div class="portfolio-work-information">
      <p class="portfolio-work-information-title">1 Million Music Moments</p>
      <p class="portfolio-work-information-type">Website</p>
      <p class="portfolio-work-information-description">The website for 1 Million Music Moments (1MMM), a non-profit organization that seeks to strengthen the City of Toronto's reputation as a world class music and cultural centre.</p>
    </div>
	</div>
</div>

{{outlet}}

<div class="container text-center">
  <div class="btn-section-footer btn-group">
    <a class="btn" href="https://github.com/karelvuong">GitHub</a>
  </div>
</div>
