<div class="portfolio-section--work">
	<div class="container">
	  <h4 class="portfolio-work-title text-center">Featured Work</h4>
	</div>

  <a class="portfolio-work" href="https://github.com/karelvuong/st-primer">
		<div class="portfolio-work-screenshot" style="background-image: url('/assets/images/portfolio/theme-st-primer_light.jpg')"></div>

    <div class="portfolio-work-information">
			<div class="container">
		    <p class="portfolio-work-information-title">Primer</p>
		    <p class="portfolio-work-information-type">Theme - Sublime Text</p>
		    <p class="portfolio-work-information-description">A UI + syntax theme for Sublime Text based on Mozilla's Firefox Developer Edition.</p>
			</div>
    </div>
  </a>
</div>

<div class="portfolio-section--work">
	<div class="container">
	  <h4 class="portfolio-work-title text-center">Collection</h4>
	</div>

  {{#link-to 'portfolio.themes' class='portfolio-work portfolio-work--small'}}
  <div class="portfolio-work-information">
		<div class="container">
	    <p class="portfolio-work-information-title text-center">Themes</p>
		</div>
  </div>
  {{/link-to}}

  {{#link-to 'portfolio.extensions' class='portfolio-work portfolio-work--small'}}
  <div class="portfolio-work-information">
		<div class="container">
	    <p class="portfolio-work-information-title text-center">Extensions</p>
		</div>
  </div>
  {{/link-to}}
</div>

{{outlet}}

<div class="container text-center">
  <div class="btn-section-footer btn-group">
    <a class="btn" href="https://github.com/karelvuong">GitHub</a>
  </div>
</div>
