.footer--site {
  padding: 40px 0;
}
  .footer--site-image {
    background: url('/assets/images/face.jpg') no-repeat center center;
    background-size: 100%;
    display: inline-block;
    height: 100px;
    margin-right: 20px;
    width: 100px;
  }
  .footer--site-name {
    color: #232A2E;
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .footer--site-text {
    font-size: 12px;
    margin-bottom: 0;

    & + & {
      margin-top: 5px;
    }
  }
  .footer--site-list {}
  .footer--site-list-item {
    list-style: none;
  }
  .footer--site-link {
    color: #8B959E;
    font-size: 12px;
    line-height: 1.6;
  }
