.header--site {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #eee;
  height: 50px;
  width: 100%;
}

.header--site-logo {
  background: url(images/logo.svg) no-repeat center center;
  background-size: 40px 30px;
  display: inline-block;
  height: 30px;
  margin: 10px 0;
  width: 30px;
}

.header--site-name {
  color: @headings-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
}

.header--site-twitter {
  font-size: 12px;
  line-height: 50px;
  margin-left: 5px;
}

.header--site-list {}
.header--site-list-item {
  display: inline-block;
  list-style: none;

  & + .header--site-list-item {
    margin-left: 20px;
  }
}
.header--site-link {
  color: #8B959E;
  font-size: 12px;
  line-height: 50px;

  &.active {
    color: @text-color;
  }

  & + & {
    margin-left: 20px;
  }
}
