.page {
  padding-top: 70px;
  padding-bottom: 80px;
}
  .page--has-masthead {
    padding-top: 0;
  }

.page--home {
  padding-top: 0;
}

.page--post {
  figure {
    text-align: center;
  }
}

.masthead {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
  padding: 100px 0;
  position: relative;

  &.masthead--inverted {
    .masthead-title {
      color: #fff;
    }

    .masthead-meta-item {
      color: rgba(#fff, 0.8);
    }
  }
}
  .masthead-overlay {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .masthead-title,
  .masthead-meta {
    padding: 0 20px;
    z-index: 1;
  }
    .masthead-title {
      font-size: 50px;
      position: relative;
    }
    .masthead-description {
      font-size: 20px;
    }
    .masthead-meta {
      height: 40px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      p {
        margin-bottom: 0;
      }
    }
      .masthead-meta-item {
        display: inline-block;
        font-size: 0.9em;
        line-height: 40px;

        i {
          margin-right: 5px;
        }
      }
        .masthead-meta-item--tags {
          display: inline-block;
          list-style: none;
          margin-left: 20px;
          padding: 0;
        }
          .masthead-meta-item--tag {
            display: inline-block;
          }
  .masthead-actions {
    margin-top: 20px;
  }

  .section {}
    .section--xs  { padding: 5px 0; }
    .section--sm  { padding: 20px 0; }
    .section--md  { padding: 60px 0; }
    .section--lg { padding: 120px 0; }
  .section-heading {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 10px;
    text-transform: uppercase;
  }
  .section-border-top {
    border-top: 1px solid #d9d9d6;
  }
  .sub-section {
    & + & {
      margin-top: 80px;
    }
  }












.section--masthead {
  margin-bottom: 40px;

  h2 {
    margin-bottom: 5px;
  }
}
  .masthead-headline {
    margin-bottom: 40px;
  }
    .masthead-headline-text {
      color: #ddd;
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 0;
    }
    .masthead-headline-focus {
      color: $text-color;
    }
  .masthead-list {
    padding: 0;

    li {
      display: inline-block;

      & + li:before {
        content: '\00B7';
        margin: 0 5px;
      }
    }
  }
