.page {
  padding-top: 70px;
  padding-bottom: 80px;
}
  .page--has-masthead {
    padding-top: 0;
  }

.page--home {
  padding-top: 0;
}

.page--post {
  figure {
    text-align: center;
  }
}


//
//
//
.section--masthead {
  margin-bottom: 40px;
}
  .masthead-headline {
    margin-bottom: 40px;
  }
    .masthead-headline-text {
      color: #ddd;
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 0;
    }
    .masthead-headline-focus {
      color: @text-color;
    }
  .masthead-list {
    padding: 0;

    h4 {
      margin-bottom: 5px;
    }

    li {
      display: inline-block;

      & + li:before {
        content: '\00B7';
        margin: 0 5px;
      }
    }
  }
