<div class="page page--resume">
  <div class="container">
    <div class="section--masthead row">
      <ul class="masthead-list">
        <h6 class="list-heading">Contact:</h6>
        <li><a href="mailto:karel.vuong@utoronto.ca">Email</a></li>
        <li><a href="https://github.com/karelvuong">GitHub</a></li>
        <li><a href="https://linkedin.com/in/karelvuong">LinkedIn</a></li>
        <li><a href="https://twitter.com/karelvuong">Twitter</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="resume-column-left col-md-6">
        <div class="resume-section">
          <div class="resume-section-header">Experience</div>

          <div class="resume-section-body">
            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-left pull-left">
                  <h1 class="resume-item-position">Product Manager Intern</h1>
                  <p class="resume-item-company"><strong>Zazzle</strong> | Redwood City, CA</p>
                  <p class="resume-item-date"><span>January 2015</span> &mdash; <span>Present</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details"></ul>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-left pull-left">
                  <h1 class="resume-item-position">Product Manager Intern</h1>
                  <p class="resume-item-company"><strong>BlackBerry</strong> | Waterloo, ON</p>
                  <p class="resume-item-date"><span>July 2014</span> &mdash; <span>December 2014</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Led efforts for a rebuild of the business process management and modeling platform used by over 3,000 active employees; AngularJS, Python, MongoDB, and Oracle</li>
                  <li>Initiated Lean Six Sigma Green Belt project to redesign and improve processes for marketing, manufacturing, reliability, and software development organizations</li>
                </ul>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-info pull-left">
                  <h1 class="resume-item-position">Applications Developer Intern</h1>
                  <p class="resume-item-company"><strong>BlackBerry</strong> | Waterloo, ON</p>
                  <p class="resume-item-date"><span>January 2014</span> &mdash; <span>July 2014</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Developed administrative tool to enable internal platform customers to perform self-serve support, reducing ticket resolution time from 3-7 days to less than 24 hours; Python, AngularJS</li>
                </ul>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-info pull-left">
                  <h1 class="resume-item-position">Consultant</h1>
                  <p class="resume-item-company"><strong>Innovitas</strong> | Toronto, ON</p>
                  <p class="resume-item-date"><span>July 2014</span> &mdash; <span>January 2015</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details"></ul>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-info pull-left">
                  <h1 class="resume-item-position">Mobile Application Developer</h1>
                  <p class="resume-item-company"><strong>Independent</strong> | Toronto, ON</p>
                  <p class="resume-item-date"><span>September 2013</span> &mdash; <span>January 2014</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details"></ul>
              </div>
            </div>
          </div>
        </div>

        <div class="resume-section">
          <div class="resume-section-header">Projects</div>

          <div class="resume-section-body">
            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-left pull-left">
                  <h1 class="resume-item-position">Chrome Extensions</h1>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li><a href="https://github.com/karelvuong/chrome-ext-github-toolbox">GitHub Toolbox</a>: An extension that extends GitHub's functionality with useful tools.</li>
                </ul>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-left pull-left">
                  <h1 class="resume-item-position">Themes</h1>
                </div>
              </div>

              <div class="resume-item-body">
                <div class="resume-item-details">
                  <div class="resume-item-details-list">
                    <h6 class="resume-item-details-list-heading">Brackets:</h6>
                    <ul>
                      <li><a href="#">Fox</a>: A syntax theme based on Mozilla's Firefox Developer Edition.</li>
                    </ul>
                  </div>

                  <div class="resume-item-details-list">
                    <h6 class="resume-item-details-list-heading">Chrome Developer Tools:</h6>
                    <ul>
                      <li><a href="https://github.com/karelvuong/devtools-chromegray--dark">Chromegray</a>: A theme based on the Spacegray Sublime Text 2/3 UI theme.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-left pull-left">
                  <h1 class="resume-item-position">Themes (Sublime Text)</h1>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li><a href="https://github.com/karelvuong/fox">Fox</a>: A UI + syntax theme based on Mozilla's Firefox Developer Edition.</li>
                </ul>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-left pull-left">
                  <h1 class="resume-item-position">Casa</h1>
                  <p class="resume-item-company"><strong>Hack the North 2014</strong></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>A platform that eases the subletting process for students, co-op workers, and young professionals</li>
                </ul>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-left pull-left">
                  <h1 class="resume-item-position">Curo</h1>
                  <p class="resume-item-company"><strong>RBC Royal Bank - Next Great Innovator 2014</strong></p>
                  <p class="resume-item-date"><a href="https://github.com/karelvuong/zzz-curo">GitHub</a></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>A business intelligence and analytics platform that translates client and transactional data into actionable signal data</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="resume-column-right col-md-6">
        {{!-- <div class="resume-section">
          <div class="resume-section-header">Skills</div>
        </div> --}}

        <div class="resume-section">
          <div class="resume-section-header">Education</div>

          <div class="resume-section-body">
            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-left pull-left">
                  <h1 class="resume-item-position">University of Toronto - Trinity College</h1>
                  <p class="resume-item-company"><strong>Computer Science, B.Sc</strong></p>
                  <p class="resume-item-date"><span>September 2011</span> &mdash; <span>Present</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Trinity Entrance Scholarship</li>
                  <li>Queen Elizabeth II Aiming for the Top Scholarship</li>
                  <li>Professional Experience Year (PEY)</li>
                  <li>Work Abroad Program (WAP)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="resume-section">
          <div class="resume-section-header">Awards</div>

          <div class="resume-section-body">
            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-left pull-left">
                  <h1 class="resume-item-position">RBC Royal Bank - Next Great Innovator </h1>
                  <p class="resume-item-company"><strong>Finalist</strong></p>
                  <p class="resume-item-date">June 2014</p>
                </div>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-left pull-left">
                  <h1 class="resume-item-position">Eli Lilly - Clinical Trial Visualization Redesign</h1>
                  <p class="resume-item-company"><strong>Honourable Mention</strong></p>
                  <p class="resume-item-date">November 2013</p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Received a $3,000 cash prize for the <a href="http://challengepost.com/software/clinico">Clinico</a> solution.</li>
                </ul>
              </div>
            </div>


            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-left pull-left">
                  <h1 class="resume-item-position">BlackBerry Jam Camp</h1>
                  <p class="resume-item-company"><strong>Participant</strong></p>
                  <p class="resume-item-date">September 2013</p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Received four BlackBerry 10 devices and limited edition red, developer BlackBerry Z10 device for <a href="http://bit.ly/karel-cella-bbw">Cella</a>.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="resume-section">
          <div class="resume-section-header">Volunteer</div>

          <div class="resume-section-body">
            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-left pull-left">
                  <h1 class="resume-item-position">1 Million Music Moments</h1>
                  <p class="resume-item-company"><strong>Digital Director</strong></p>
                  <p class="resume-item-date"><span>January 2014</span> &mdash; <span>Present</span></p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                </ul>
              </div>
            </div>

            <div class="resume-item">
              <div class="resume-item-header row">
                <div class="resume-item-header-left pull-left">
                  <h1 class="resume-item-position">EdAppHack 2014</h1>
                  <p class="resume-item-company"><strong>Mentor</strong></p>
                  <p class="resume-item-date">October 2014</p>
                </div>
              </div>

              <div class="resume-item-body">
                <ul class="resume-item-details">
                  <li>Mentored group of secondary school students received an honourable mention for their application prototype, TimeLine.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{outlet}}
  </div>
</div>
