<div class="page">
  <section class="section--posts">
    <div class="container">
      <div class="sub-section">
        <h5>Recent Posts</h5>

        <ul class="post-list">
          {{#each post in model}}
          <li class="post-list-item row">
            {{#link-to post.url class='post-list-item-title pull-left'}}{{post.title}}{{/link-to}}

            <div class="pull-right">
              {{#if post.tags}}
              <div class="post-list-item-tags pull-left">
                {{#each tag in post.tags}}
                <strong class="post-list-item-tag">{{tag}}</strong>
                {{/each}}
              </div>
              {{/if}}

              <p class="post-list-item-date pull-left">{{post.date}}</p>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>

  {{outlet}}
</div>

