<section class="section--intro section--md">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <img class="logo--home" src="/assets/images/logo.svg">
      </div>

      <div class="col-md-6">
        <h1>Hi, I'm Karel.</h1>
        <p class="larger">I'm a <mark>Product Manager</mark> at Zazzle.</p>
        <p>I am a software engineer at heart and enjoy designing things on the side. Occasionally, I'll write things {{#link-to 'posts'}}here{{/link-to}}, but I mainly tweet at <a href="https://twitter.com/karelvuong" target="_blank">@karelvuong</a>. Read more {{#link-to 'about'}}about me{{/link-to}} and the {{#link-to 'stuff-i-use'}}stuff I use{{/link-to}}.</p>

        <p class="small text-muted">Sign up for my mailing list if you want to know when I post something.</p>

        <div class="input-group">
          {{input class="section--intro_email-input" type="email" placeholder="Enter your email"}}
          <button class="section--intro_email-btn">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section--ember section--xs">
  <div class="container text-center">
    <p><small>This website was created in <a href="http://emberjs.com/"><strong class="clr--ember">Ember.js</strong></a> using <a href="http://ember-cli.com"><strong class="clr--ember">ember-cli</strong></a> as an experiment and is available as a public repository on <a href="https://github.com/karelvuong/website-ember"><strong>GitHub</strong></a>.</small></p>
  </div>
</section>

<section class="section--posts section--md">
  <div class="section--posts container">
    <div class="section--posts_column section--posts_column--left">
      <a class="section--posts_post" href="#">
        <p class="post_title">Designing Zazzle Maker Dashboard</p>
        <p class="post_text">A look into the design process behind Zazzle - Maker Dashboard.</p>
      </a>

      <a class="section--posts_post" href="#">
        <p class="post_title">Joining Zazzle</p>
        <p class="post_text">
          A few words here... not too many.
        </p>
      </a>

      <a class="section--posts_post" href="#">
        <p class="post_text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </a>
    </div>





    <div class="section--posts_column">
      <a class="section--posts_post" href="#">
        <p class="post_title">Designing BlackBerry Flow</p>
        <p class="post_text">A look into the design process behind Flow.</p>
      </a>

      <a class="section--posts_post" href="#">
        <p class="post_text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </a>

      <a class="section--posts_post" href="#">
        <p class="post_title post_title--sm">Welcome to California</p>
      </a>

      <a class="section--posts_post" href="#">
        <p class="post_title">Designing 1 Million Music Moments</p>
        <p class="post_text">A look into the design process.</p>
      </a>
    </div>
  </div>
</section>

<section class="section--work section--md">
  <div class="container">
    <div class="work-row row">
      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/fox" target="_blank" style="background-color: #39424D;">
          <i class="oi icon" data-glyph="excerpt"></i>
        </a>

        <div class="outer">
          <p class="title">Fox (ST)</p>
          <p class="type"><strong>Theme - Sublime Text</strong></p>
          <p class="description">A UI + syntax theme for Sublime Text based on Mozilla's Firefox Developer Edition.</p>
        </div>
      </div>

      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/fox-brackets--dark" target="_blank" style="background-color: #14171A;">
          <i class="oi icon" data-glyph="excerpt"></i>
        </a>

        <div class="outer">
          <p class="title">Fox (Brackets)</p>
          <p class="type"><strong>Theme - Brackets</strong></p>
          <p class="description">A syntax theme for Brackets based on Mozilla's Firefox Developer Edition.</p>
        </div>
      </div>

      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/chromegray--dark" target="_blank" style="background-color: #2B303B;">
          <i class="oi icon" data-glyph="excerpt"></i>
        </a>

        <div class="outer">
          <p class="title">Chromegray</p>
          <p class="type"><strong>Theme - Chrome Developer Tools</strong></p>
          <p class="description">A theme for Chrome Developer Tools based on the popular Spacegray Sublime Text theme.</p>
        </div>
      </div>
    </div>

    <div class="work-row row">
      <div class="work work--side">
        <a class="inner" class="inner" href="https://bit.ly/cellabbw" target="_blank" style="background-color: #856B55;">
          <i class="oi icon" data-glyph="box"></i>
        </a>

        <div class="outer">
          <p class="title">Cella</p>
          <p class="type"><strong>App - BlackBerry</strong></p>
          <p class="description">A home inventory management app that securely stores information of possessions in a three-tiered organizational system.</p>
        </div>
      </div>

      <div class="work work--side">
        <a class="inner" href="https://bit.ly/coolerbb" target="_blank" style="background-color: #AAA7D9;">
          <i class="oi icon" data-glyph="droplet"></i>
        </a>

        <div class="outer">
          <p class="title">Cooler</p>
          <p class="type"><strong>App - BlackBerry</strong></p>
          <p class="description">An app for designers to generate colour schemes and palettes.</p>
        </div>
      </div>

      <div class="work work--side">
        <a class="inner" style="background-color: #26567F;">
          <i class="oi icon" data-glyph="bar-chart"></i>
        </a>

        <div class="outer">
          <p class="title">Curo</p>
          <p class="type"><strong>Prototype - RBC Next Great Innovator 2014</strong></p>
          <p class="description">A business intelligence and analytics platform that translates client and transactional data into actionable signal data.</p>
        </div>
      </div>
    </div>


    <div class="work-row row">
      <div class="work work--side">
        <a class="inner" href="http://ctdesign.challengepost.com/submissions/17791-clinico" target="_blank" style="background-color: #B5333B;">
          <i class="oi icon" data-glyph="pulse"></i>
        </a>

        <div class="outer">
          <p class="title">Clinico</p>
          <p class="type"><strong>Prototype - Eli Lilly: Clinical Trial Visualization Redesign</strong></p>
          <p class="description">An iOS prototype that translates clinical trial protocols into guided, patient-centric interfaces.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{{outlet}}
