<section class="section--intro section--lg">
  <div class="section--intro-inner">
    <h1 class="intro-heading">Hi, I'm Karel.</h1>
    <p class="intro-text larger">I'm a <span class="t-underline">Product Manager at Zazzle</span>.</p>
    <p class="intro-text">I am a <span class="u-clr-0">software engineer</span> at heart and a <span class="u-clr-0">designer</span> on the side. Occasionally, I'll write things {{#link-to 'blog'}}here{{/link-to}}, but you can hear from me more regularly at <a href="https://twitter.com/karelvuong" target="_blank">@karelvuong</a>. Read more {{#link-to 'about'}}about me{{/link-to}} and the {{#link-to 'stuff-i-use'}}stuff I use{{/link-to}}.</p>

    <p class="intro-text small">Sign up for my mailing list if you want to know when I post something.</p>

    <div class="input-group">
      {{input class="intro-input" type="email" placeholder="Enter your email"}}
      <button class="intro-btn">Subscribe</button>
    </div>
  </div>
</section>

{{!-- <section class="section--posts section--md">
  <div class="container">
    <div class="posts--home">
      <div class="col-md-4">
        <div class="post--home">
          <div class="post--home-heading">
            <a class="post-title t-uppercase" href="#">Designing Zazzle Maker Dashboard</a>
            <p class="post-meta"><i class="oi" data-glyph="clock"></i> Feb 6, 2015</p>
          </div>

          <div class="post--home-body">
            <p class="post-text">A look into the design process behind Zazzle Maker Dashboard.</p>
            <button class="post-btn">Read More</button>
          </div>
        </div>

        <div class="post--home">
          <div class="post--home-heading">
            <a class="post-title t-uppercase" href="#">Welcome to California</a>
          </div>

          <div class="post--home-body">
            <button class="post-btn">Read More</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="post--home">
          <div class="post--home-heading">
            <a class="post-title t-uppercase" href="#">Joining Zazzle</a>
            <p class="post-meta"><i class="oi" data-glyph="clock"></i> Feb 4, 2015</p>
          </div>

          <div class="post--home-body">
            <button class="post-btn">Read More</button>
          </div>
        </div>

        <div class="post--home">
          <div class="post--home-heading">
            <a class="post-title t-uppercase" href="#">Designing 1 Million Music Moments</a>
          </div>

          <div class="post--home-body">
            <p class="post-text">A look into the design process behind 1 Million Music Moments.</p>
            <button class="post-btn">Read More</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="post--home">
          <div class="post--home-heading">
            <a class="post-title t-uppercase" href="#">Designing BlackBerry Flow</a>
            <p class="post-meta"><i class="oi" data-glyph="clock"></i> Jan 1, 2015</p>
          </div>

          <div class="post--home-body">
            <p class="post-text">A look into the design process behind Flow.</p>
            <button class="post-btn">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> --}}

<section class="section--work section--md">
  <div class="container">
    <div class="work-row row">
      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/fox" target="_blank" style="background-color: #39424D;">
          <i class="oi icon" data-glyph="excerpt"></i>
        </a>

        <div class="outer">
          <p class="title">Fox (ST)</p>
          <p class="type"><strong>Theme - Sublime Text</strong></p>
          <p class="description">A UI + syntax theme for Sublime Text based on Mozilla's Firefox Developer Edition.</p>
        </div>
      </div>

      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/fox-brackets--dark" target="_blank" style="background-color: #14171A;">
          <i class="oi icon" data-glyph="excerpt"></i>
        </a>

        <div class="outer">
          <p class="title">Fox (Brackets)</p>
          <p class="type"><strong>Theme - Brackets</strong></p>
          <p class="description">A syntax theme for Brackets based on Mozilla's Firefox Developer Edition.</p>
        </div>
      </div>

      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/chromegray--dark" target="_blank" style="background-color: #2B303B;">
          <i class="oi icon" data-glyph="excerpt"></i>
        </a>

        <div class="outer">
          <p class="title">Chromegray</p>
          <p class="type"><strong>Theme - Chrome Developer Tools</strong></p>
          <p class="description">A theme for Chrome Developer Tools based on the Spacegray Sublime Text theme.</p>
        </div>
      </div>
    </div>

    <div class="row text-center">
      {{#link-to 'work'}}<button class="btn-section-footer">View all work</button>{{/link-to}}
    </div>
  </div>
</section>

<section class="section--ember section--xs">
  <div class="container text-center">
    <p><small>This website was created in <strong><a href="http://emberjs.com/" target="_blank">Ember.js</a> <a href="https://github.com/emberjs/ember.js/tree/v1.11.0-beta.2" target="_blank">(1.11.0-beta.2)</a></strong> using <strong><a href="http://ember-cli.com" target="_blank">ember-cli</a> <a href="https://github.com/ember-cli/ember-cli/releases/tag/v0.2.0-beta.1" target="_blank">(0.2.0-beta)</a></strong> as an experiment and is available on <a href="https://github.com/karelvuong/website-ember"><strong>GitHub</strong></a>.</small></p>
  </div>
</section>

{{outlet}}
