<section class="section--intro section--md">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <img class="logo--home" src="/assets/images/logo.svg">
      </div>

      <div class="col-md-6">
        <h1>Hi, I'm Karel.</h1>
        <p class="larger">I'm a <mark>Product Manager</mark> at Zazzle.</p>
        <p>I am a software engineer at heart and enjoy designing things on the side. Occasionally, I'll write things {{#link-to 'posts'}}here{{/link-to}}, but I mainly tweet at <a href="https://twitter.com/karelvuong" target="_blank">@karelvuong</a>. Read more {{#link-to 'about'}}about me{{/link-to}} and the {{#link-to 'stuff-i-use'}}stuff I use{{/link-to}}.</p>

        <p class="small text-muted">Sign up for my mailing list if you want to know when I post something.</p>

        <div class="input-group">
          {{input class="section--intro_email-input" type="email" placeholder="Enter your email"}}
          <button class="section--intro_email-btn">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section--ember section--xs">
  <div class="container text-center">
    <p><small>This website was created as an experiment in <a href="http://emberjs.com/"><strong class="clr--ember">Ember.js</strong></a> using <a href="http://ember-cli.com"><strong class="clr--ember">ember-cli</strong></a> and is a public repository on <a href="https://github.com/karelvuong/website-ember"><strong>GitHub</strong></a>.</small></p>
  </div>
</section>

<section class="section--posts section--md">
  <div class="container">
  <div class="section--posts container">
    <div class="section--posts_left-column col-md-6">
      <div class="section--posts_post">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="section--posts_post">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco l</p>
      </div>

      <div class="section--posts_post">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>

    <div class="section--posts_right-column col-md-6">
      <div class="section--posts_post">
        <p>Lorem ipsum dolor sit amet, consectetur amollit anim id est laborum.</p>
      </div>

      <div class="section--posts_post">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>

      <div class="section--posts_post">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>

      <div class="section--posts_post">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco l
      </div>
    </div>
  </div>
</section>

<section class="section--work section--md">
  <div class="container">
    <div class="row text-center">
    </div>
  </div>
</section>

{{outlet}}
