<section class="section--intro section--md">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <svg class="logo--home" viewBox="0 0 600 1066" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <g id="Portrait" sketch:type="MSArtboardGroup" transform="translate(-700.000000, -467.000000)" fill="#000000">
              <path d="M753.385124,1499.61909 C762.182293,1514.82903 771.192621,1525.96738 780.416366,1533.03447 C798.405658,1516.06557 828.952701,1477.35412 872.058413,1416.89897 C907.30639,1368.7111 935.64887,1339.54867 957.086704,1329.41079 C975.869436,1369.95638 1015.90356,1409.87581 1077.19026,1449.17028 C1131.28381,1484.79245 1180.75495,1507.78043 1225.60517,1518.13492 C1231.33073,1519.45677 1239.97485,1517.93213 1251.5378,1513.56096 C1263.10074,1509.18979 1270.79062,1507.44485 1274.60766,1508.32608 L1293.32427,1518.68199 L1299.93803,1490.03467 C1296.5651,1474.16878 1275.06156,1454.11734 1235.42675,1429.87973 C1174.21247,1394.62523 1136.48675,1370.8286 1122.24847,1358.48912 C1078.65178,1325.29034 1051.13308,1287.75743 1039.69155,1245.88925 C1107.02226,1184.99201 1147.74171,1123.98701 1161.85112,1062.87242 C1163.17388,1057.14293 1163.30381,1051.13814 1162.24092,1044.85787 C1161.17803,1038.57761 1160.75682,1034.96008 1160.97728,1034.00516 L1140.93792,1029.37871 C1120.16466,1023.57701 1086.99664,1048.60799 1041.43285,1104.47239 C995.869069,1160.3368 964.976431,1186.39599 948.754012,1182.65075 C943.028452,1181.3289 939.065031,1178.90517 936.86363,1175.3795 L948.437702,1125.24669 C998.097561,979.804805 1046.65439,839.139607 1094.10966,703.246876 C1098.15035,690.098367 1110.48951,662.773162 1131.12752,621.27044 C1149.19562,582.191848 1159.22159,558.35579 1161.20572,549.76155 C1164.29216,536.392733 1165.72992,510.57393 1165.51904,472.304367 L1142.61692,467.016995 C1131.97202,469.58849 1119.49121,475.759245 1105.17412,485.529448 C1083.65108,543.926658 1061.76148,601.735389 1039.50464,658.957376 C1014.16137,729.548179 978.127946,839.913316 931.403288,990.056096 C913.33199,1042.20951 898.970913,1082.64619 888.319625,1111.36734 C856.069685,1207.52055 830.506339,1279.0652 811.628819,1326.00342 C801.87983,1355.80614 791.666731,1382.20202 780.989447,1405.19119 L760.981774,1290.92261 C760.981774,1290.92261 756.347376,1275.99057 749.964017,1274.75213 C743.580658,1273.51369 713.238165,1267.40192 705.892995,1282.10235 C698.547826,1296.80278 696.099364,1305.13279 710.300098,1352.66442 C718.134985,1384.51552 726.949109,1422.49131 735.273676,1454.83243 C738.358128,1465.50681 741.644945,1474.84791 745.160695,1483.06835 C746.832682,1487.44492 749.411313,1492.67876 752.896595,1498.76987 C752.922533,1498.81521 752.948473,1498.8605 752.974415,1498.90576 C753.111006,1499.14475 753.247907,1499.38252 753.385121,1499.61909 Z" id="k" sketch:type="MSShapeGroup"></path>
            </g>
          </g>
        </svg>
      </div>

      <div class="col-md-6">
        <h1>Hi, I'm Karel.</h1>
        <p class="larger">I'm a <mark>Product Manager</mark> at Zazzle.</p>
        <p>I am a software engineer at heart and design things on the side. Sometimes I write things {{#link-to 'resume'}}here{{/link-to}}, but I mainly tweet at <a href="https://twitter.com/karelvuong" target="_blank">@karelvuong</a>. Read more {{#link-to 'resume'}}about me{{/link-to}} and the {{#link-to 'resume'}}stuff I use{{/link-to}}.</p>

        {{input class="section--intro_email-input" type="email" placeholder="Enter your email"}}
        <button>Subscribe</button>
      </div>
    </div>
  </div>
</section>

<section class="section--posts section--md">
  <div class="container">
    <div class="row"></div>
  </div>
</section>

<section class="section--work section--md">
  <div class="container">
    <div class="row text-center">
      <h6>My work</h6>
    </div>
  </div>
</section>

<section class="section--social section--md">
  <div class="container text-center">
    <a class="section--social_button bg-clr--dribbble" href="https://dribbble.com/karelvuong">Dribbble</a>
    <a class="section--social_button bg-clr--github" href="https://github.com/karelvuong">GitHub</a>
    <a class="section--social_button bg-clr--linkedin" href="https://linkedin.com/in/karelvuong">LinkedIn</a>
    <a class="section--social_button bg-clr--quora" href="https://quora.com/karelvuong">Quora</a>
    <a class="section--social_button bg-clr--twitter" href="https://twitter.com/karelvuong">Twitter</a>
  </div>
</section>

{{outlet}}
