<div class="page">
  <div class="container">
    <h4>About Me</h4>

    <p>Born in Toronto, ON, Canada, I am currently working in Silicon Valley as a Product Manager at Zazzle.</p>

    <p>More to come soon!</p>

{{!--I sit in the intersection of design and engineering, touching on

    I enjoy photography. --}}

    {{outlet}}
  </div>
</div>
