<div class="page">
  <div class="container">
    <div class="work-row row">
      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/github-toolbox" target="_blank" style="background-color: #66C3EB;">
          <i class="oi icon" data-glyph="graph"></i>
        </a>

        <div class="outer">
          <p class="title">ember-cli-plottable</p>
          <p class="type"><strong>Ember CLI Addon</strong></p>
          <p class="description">The Plottable.js (by Palantir) charts library addon for ember-cli.</p>
        </div>
      </div>

      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/chrome-ext-github-toolbox" target="_blank" style="background-color: #bd2c00;">
          <i class="oi icon" data-glyph="script"></i>
        </a>

        <div class="outer">
          <p class="title">GitHub Toolbox</p>
          <p class="type"><strong>Chrome Extension</strong></p>
          <p class="description">A Google Chrome Extension that extends GitHub's functionality with a few useful tools.</p>
        </div>
      </div>
    </div>





    <div class="work-row row">
      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/st-fox" target="_blank" style="background-color: #39424D;">
          <i class="oi icon" data-glyph="excerpt"></i>
        </a>

        <div class="outer">
          <p class="title">Fox</p>
          <p class="type"><strong>Theme - Sublime Text</strong></p>
          <p class="description">A UI + syntax theme for Sublime Text based on Mozilla's Firefox Developer Edition.</p>
        </div>
      </div>

      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/brackets-fox--dark" target="_blank" style="background-color: #14171A;">
          <i class="oi icon" data-glyph="excerpt"></i>
        </a>

        <div class="outer">
          <p class="title">Fox</p>
          <p class="type"><strong>Theme - Brackets</strong></p>
          <p class="description">A syntax theme for Brackets based on Mozilla's Firefox Developer Edition.</p>
        </div>
      </div>

      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/devtools-chromegray--dark" target="_blank" style="background-color: #2B303B;">
          <i class="oi icon" data-glyph="code"></i>
        </a>

        <div class="outer">
          <p class="title">Chromegray</p>
          <p class="type"><strong>Theme - Chrome Developer Tools</strong></p>
          <p class="description">A theme for Chrome Developer Tools based on the Spacegray Sublime Text theme.</p>
        </div>
      </div>
    </div>





    <div class="work-row row">
      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/terminal-afterglow" target="_blank" style="background-color: #2E2E2E;">
          <i class="oi icon" data-glyph="terminal"></i>
        </a>

        <div class="outer">
          <p class="title">Afterglow</p>
          <p class="type"><strong>Theme - Terminal</strong></p>
          <p class="description">The Afterglow sublime theme ported over to Terminal.app.</p>
        </div>
      </div>

      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/terminal-fox" target="_blank" style="background-color: #14171A;">
          <i class="oi icon" data-glyph="terminal"></i>
        </a>

        <div class="outer">
          <p class="title">Fox</p>
          <p class="type"><strong>Theme - Terminal</strong></p>
          <p class="description">The Fox sublime theme ported over to Terminal.app.</p>
        </div>
      </div>

      <div class="work work--side">
        <a class="inner" href="https://github.com/karelvuong/terminal-spacegray" target="_blank" style="background-color: #2B2F3A;">
          <i class="oi icon" data-glyph="terminal"></i>
        </a>

        <div class="outer">
          <p class="title">Spacegray</p>
          <p class="type"><strong>Theme - Terminal</strong></p>
          <p class="description">The Spacegray sublime theme ported over to Terminal.app.</p>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="btn-section-footer btn-group">
        <a class="btn btn--no-border" href="https://github.com/karelvuong">GitHub</a>
      </div>
    </div>

    {{outlet}}
  </div>
</div>
