<article id="article-{{model.id}}" class="accent--zazzle">
  <section class="masthead masthead--post masthead--inverted text-center">
    <div class="container">
      <h1 class="masthead-title">{{model.title}}</h1>

      <div class="masthead-meta text-center">
        <div class="masthead-meta-item">
          <i class="oi" data-glyph="clock"></i> {{model.date}}
        </div>

        <ul class="masthead-meta-item masthead-meta-item--tags">
          <i class="oi" data-glyph="tags"></i>
          <li class="masthead-meta-item--tag">Design Analysis</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <h1>Designing Zazzle's Maker Dashboard</h1>
      <p class="subtitle">A look into the design process.</p>

      <p class="lead">One of my first projects since <a href="">joining the Zazzle team as a Product Manager Intern</a> in January, I joined a couple months after the initial launch of the Maker Dashboard.</p>

      <p>Zazzle began its quest to enable all people of varying ages and skills to create designs and make money off of its products in </p>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1>What is the Maker Dashboard?</h1>
        <p class="subtitle">A self-serve platform that allow Makers to manage and conduct their businesses.</p>
      </div>

      <p class="lead">The Maker Dashboard serves as the one stop shop for Makers to run their business, manage their products and orders, and view reports to help them improve sales and make informed decisions.</p>
      <p></p>

      <p>As a fresh hire, I had the opportunity to review the product from the perspective of someone who had never seen or used the Maker dashboard before. This allowed me to contribute feedback and give insight that existing PMs and members of the Product Design team may have missed after having become familiar with design of the product and its objectives.</p>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <h1>MVP</h1>
      <p class="subtitle">What it started as.</p>

      <p>The Maker Dashboard had to onboard new Makers and guide them through a process that they have never experienced before on both Zazzle or anywhere else on the internet. As a platform, Zazzle enables Makers to post endlessly customizable products for sale. The difficult part is designing this process to make it easy to learn, yet powerful to enable Makers to customize anything.</p>
      <p>My responsibility was to surface information that would be useful to the Maker as soon as they log in. This led to countless questions that would eventually define the scope of the dashboard and its feature set.</p>

      <ul class="list">
        <li>What information would be valuable to the user and what wouldn't be?</li>
        <li>How should this information be displayed?</li>
        <li>How much information should we show?</li>
      </ul>

      <p>These questions along with finer details needed to be addressed as designs were created and features were planned for.</p>
    </div>
  </section>

  <section class="section--image section">
    <img src="http://cdn.freakdesign.com.au.s3.amazonaws.com/i/shopifyjs-freakdesign.png">
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1>Research and Usability Testing</h1>
      </div>

      <p class="lead">The design decisions made throughout the project were informed by conducting usability studies and through the analysis of copious amounts of data.</p>

      <p>multiple sources. The most prominent being usability testing with real users (or Makers) who earn a living through the Maker platform on Zazzle. Coupled with research, competitive analysis, and copious amounts of data, this all allowed us to iterate quickly through several designs and prototypes.</p>

      <h2 class="post-section-title">Things Learned</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1>Iteration #1</h1>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h2 class="post-section-title">Concerns</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h2 class="post-section-title">Fixes</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <div class="post-section-header">
        <h1>Iteration #2</h1>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h2 class="post-section-title">Concerns</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h2 class="post-section-title">Fixes</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <h1>Iteration #3</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h2 class="post-section-title">Concerns</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h2 class="post-section-title">Fixes</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <h1>Fit and Finish</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>

  {{outlet}}
</article>
