<header class="header--site">
  <div class="container">
    {{#link-to 'home'}}<span class="header--site_logo pull-left"></span>{{/link-to}}

    <ul class="pull-right">
      {{#link-to 'resume' class='header--site_link'}}About{{/link-to}}
      {{#link-to 'resume' class='header--site_link'}}Posts{{/link-to}}
      {{#link-to 'resume' class='header--site_link'}}Work{{/link-to}}
      {{#link-to 'resume' class='header--site_link'}}Resume{{/link-to}}
    </ul>
  </div>
</header>

<div class="page">
  {{outlet}}
</div>

<footer class="footer--site">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>Hey there</p>
      </div>
      <div class="col-md-3">
        <p>Posts</p>
      </div>
      <div class="col-md-3">
        <p>Social</p>
      </div>
    </div>
  </div>
</footer>
