<header class="header--site">
  <div class="container">
    {{#link-to 'home' class='header--site-name pull-left'}}Karel Vuong{{/link-to}}
    <a class="header--site-twitter pull-left" href="https://twitter.com/karelvuong">(@karelvuong)</a>

    <ul class="header--site-list pull-right">
      <li class="header--site-list-item">{{#link-to 'about' class='header--site-link'}}About{{/link-to}}</li>
      <li class="header--site-list-item">{{#link-to 'posts' class='header--site-link'}}Posts{{/link-to}}</li>
      <li class="header--site-list-item">{{#link-to 'work' class='header--site-link'}}Work{{/link-to}}</li>
      <li class="header--site-list-item">{{#link-to 'resume' class='header--site-link'}}Resume{{/link-to}}</li>
    </ul>
  </div>
</header>

<div class="page">
  {{outlet}}
</div>

<footer class="footer--site">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="footer--site-image pull-left"></div>
        {{#link-to 'home' class="footer--site-name"}}Karel Vuong{{/link-to}}
        <p class="footer--site-text">
          Currently a Product Manager at Zazzle, I am a software engineer at heart and enjoy designing things on the side.
        </p>
        <p class="footer--site-text">
          <a href="https://github.com/karelvuong/website-ember/issues">Found an issue? Let me know.</a>
        </p>
      </div>
      <ul class="footer--site-list col-md-3">
        <h6 class="footer--site-heading">Navigation</h6>
        <li class="footer--site-list-item">{{#link-to 'about' class='footer--site-link'}}About{{/link-to}}</li>
        <li class="footer--site-list-item">{{#link-to 'posts' class='footer--site-link'}}Posts{{/link-to}}</li>
        <li class="footer--site-list-item">{{#link-to 'work' class='footer--site-link'}}Work{{/link-to}}</li>
        <li class="footer--site-list-item">{{#link-to 'resume' class='footer--site-link'}}Resume{{/link-to}}</li>
      </ul>
      <ul class="footer--site-list col-md-3">
        <h6 class="footer--site-heading">Networks</h6>
        <li class="footer--site-list-item"><a class="footer--site-link" href="https://dribbble.com/karelvuong">Dribbble</a></li>
        <li class="footer--site-list-item"><a class="footer--site-link" href="https://github.com/karelvuong">GitHub</a></li>
        <li class="footer--site-list-item"><a class="footer--site-link" href="https://linkedin.com/in/karelvuong">LinkedIn</a></li>
        <li class="footer--site-list-item"><a class="footer--site-link" href="https://quora.com/karelvuong">Quora</a></li>
        <li class="footer--site-list-item"><a class="footer--site-link" href="https://twitter.com/karelvuong">Twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
